    -   select * from details;
    -   SELECT MAX(emp_salary) FROM details;
    -   SELECT emp_department , MAX(emp_salary)
        FROM details
        GROUP BY emp_department;
    -   SELECT * , MAX(emp_salary) OVER() as max_salary from details;
    -   SELECT * , MAX(emp_salary) OVER(PARTITION BY emp_department) as max_salary from details;
    -   SELECT * , MIN(emp_salary) OVER(PARTITION BY emp_department) as min_salary from details;
    -   SELECT * , AVG(emp_salary) OVER(PARTITION BY emp_department) as avg_salary from details;
    -   SELECT * , COUNT(emp_salary) OVER(PARTITION BY emp_department) as count_emp from details;
    -   SELECT * , ROW_NUMBER() OVER() as RN FROM details;
    -   SELECT * , ROW_NUMBER() OVER(PARTITION BY emp_department) as RN 
        FROM details;
    -   SELECT * , ROW_NUMBER() 
        OVER(PARTITION BY emp_department 
        ORDER BY emp_salary)   as RN FROM details;
    -   SELECT * , ROW_NUMBER() 
        OVER(PARTITION BY emp_department ORDER BY emp_salary DESC) as RN 
        FROM details;
    -   SELECT * FROM (SELECT * , ROW_NUMBER() 
        OVER(PARTITION BY emp_department ORDER BY emp_salary)
        AS rn FROM details) X WHERE X.rn = 1;
        -   SELECT * FROM(SELECT e.* , RANK() OVER(PARTITION BY emp_department ORDER BY emp_salary DESC)
        AS rnk FROM details e) X WHERE x.rnk < 4;
        -   SELECT e.* , DENSE_RANK() OVER(PARTITION BY emp_department ORDER BY     emp_salary)
        AS d_rnk FROM details e;    
    -   SELECT e.* ,
        ROW_NUMBER() OVER(PARTITION BY emp_department ORDER BY emp_salary) AS Rownum ,
        RANK() OVER(PARTITION BY emp_department ORDER BY emp_salary) AS Rnk,
        DENSE_RANK() OVER(PARTITION BY emp_department ORDER BY emp_salary) AS DRnk FROM
        details e;