##### Nth Value Function

    - select g.* , nth_value(name,2) over(partition by category ORDER BY price desc range between unbounded preceding and unbounded following) as second_most_expensive from gadgets g;

##### Ntile function

    -   select category ,name , 
        case 
            when x.buckets = 1 then 'expensive'
            when x.buckets = 2 then 'mid range'
            else 'cheap range'
        end as 'phone range'
        from (select * , ntile(3) 
        over(partition by category order by price desc) as 'buckets' from gadgets
        ) x;