Here we are getting all the branch id's present in employee table

    -   SELECT branch_id FROM employee;
    
Here we are displaying the unique values of the branch_id present in employee table

    -   SELECT DISTINCT branch_id FROM employee;

Here we are displaying distinct counts of branches and managers

    -   SELECT COUNT(distinct branch_id) FROM employee;
    -   SELECT COUNT(distinct super_id) FROM employee;

Here we are displaying count of female employees

    -   SELECT COUNT(emp_id) FROM employee WHERE sex = 'F';

Here we are displying female employees born after 1970

    -   SELECT COUNT(emp_id)  FROM employee  WHERE sex = 'F' AND birth_day > '1970-01-01';

Here we are displaying avergae salary of employee

    -   SELECT AVG(salary) FROM employee;
    -   SELECT AVG(salary) FROM employee WHERE sex = 'M';
    -   SELECT AVG(salary) FROM employee WHERE sex = 'F';

Here we are renaming the aggregated columns in derived data

    -   SELECT SUM(salary) as total FROM employee;

Here we are displaying the sales volume based on employee specification

    -   SELECT emp_id , SUM(total_sales) FROM works_with WHERE emp_id = 105;