#### Sets

    -   Sets are collection of unordered elements.
    -   In sets duplicate elements can not be present.
    -   In set the elements are not indexed.
    -   Items on the set can not be changed or modified.
    -   Sets can be made in two ways - {} , set constructor - ([])

In [3]:
set1 = {2,2.45,'xyz'}
print(set1)

{2, 2.45, 'xyz'}

In [4]:
print(type(set1))

<class 'set'>

In [5]:
set2 = set([2,2.45,'xyz'])
print(set2)

{2, 2.45, 'xyz'}

In [6]:
print(type(set2))

<class 'set'>

In [7]:
set3 = {2,3,3,78,2}
print(set3)
print(type(set3))

{2, 3, 78}
<class 'set'>

In [8]:
lst1 = ["harry","ron","hermione"]
print(lst1)

['harry', 'ron', 'hermione']

In [9]:
print(lst1[0])

harry

In [10]:
print(set3[0])

TypeError: 'set' object is not subscriptable

In [11]:
lst2 = []
print(lst2)
print(type(lst2))

[]
<class 'list'>

In [15]:
set4 = set()
print(set4)
print(type(set4))

set()
<class 'set'>

In [16]:
dir(set4)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [18]:
print(set4)

set()

In [22]:
#add method
set4.add(11)
print(set4)

{10, 11, 4, 5}

In [23]:
#update method
set4.update([6,7])
print(set4)

{4, 5, 6, 7, 10, 11}

In [24]:
#remove method
set5 = {"abc","xyz",12,35,6,8.9}
print(set5)

{'abc', 35, 6, 8.9, 'xyz', 12}

In [25]:
set5.remove(35)

In [26]:
print(set5)

{'abc', 6, 8.9, 'xyz', 12}

In [27]:
set5.remove(35)

KeyError: 35

In [29]:
#discard method
set5.discard(150)

In [30]:
set5.discard(6)
print(set5)

{'abc', 8.9, 'xyz', 12}

In [31]:
#pop method
set5.pop()

'abc'

In [32]:
print(set5)

{8.9, 'xyz', 12}

In [33]:
set5.pop()

8.9

In [34]:
set5.pop()

'xyz'

In [35]:
set6 = {12,34,67}
print(set6)

{34, 67, 12}

In [36]:
print(id(set6))

1585610983008

In [37]:
set6 = {23,45,67}
print(set6)

{67, 45, 23}

In [38]:
print(id(set6))

1585610982560

In [42]:
#union of sets
# pipeline method
x = {'d',4,35}
y = {'e',6,39}
z = {'f',9,45}
a = {'g',9,15}

In [43]:
print(x|y|z|a)

{35, 4, 'e', 6, 39, 9, 45, 15, 'f', 'g', 'd'}

In [44]:
#concatenation method
print(x.union(y,z))

{35, 4, 'e', 6, 39, 9, 45, 'f', 'd'}

In [49]:
#intersection method
# creates a new set containing only the common elements among the sets.

xy = {23,45,67,9,'abc'}
yz = {23,56,12,90,'abc'}

# common items - 23,'abc'
print(xy&yz)

{'abc', 23}

In [50]:
print(xy.intersection(yz))

{'abc', 23}

In [51]:
# uncommon elements , difference
print(xy-yz)

{9, 67, 45}

In [52]:
print(yz-xy)

{56, 90, 12}

In [53]:
print(xy.difference(yz))

{9, 67, 45}

In [54]:
print(yz.difference(xy))

{56, 90, 12}

In [58]:
#tuples
# ()

t = (13,)

In [59]:
print(type(t))

<class 'tuple'>

In [61]:
t1 = (23,12,45,'aa')
print(type(t1))

<class 'tuple'>

In [62]:
print(t1[0])

23

In [63]:
t1[0] = "bbc"

TypeError: 'tuple' object does not support item assignment

In [71]:
#count
t2 = (23,12,45,'aa',25,23)
print(t1)

NameError: name 't1' is not defined

In [65]:
print(t1.count(23))

2

In [66]:
print(len(t1))

6

In [72]:
print(t2.index(23))

0

In [69]:
del t1