Performing Inner Join   

        -   SELECT first_name , last_name , branch_name FROM employee e JOIN branch b ON e.super_id
                = b.mgr_id;

Full Outer Join    

    -   select client_id,total_sales,first_name , super_id 
        from works_with w 
        right join employee e on w.emp_id = e.emp_id
        union
        select client_id,total_sales,first_name,super_id 
        from works_with w 
        left join employee e 
        on w.emp_id = e.emp_id;

Multiple Table Join

    -   select e.first_name , b.branch_name , c.client_name
        from branch b
        join client c ON b.branch_id = c.branch_id
        join employee e ON b.mgr_id = e.super_id;