In [54]:
class = 15
print(class)

SyntaxError: invalid syntax (3431658166.py, line 1)

In [ ]:
# a variable identifier can not start with a numerical literal
# special characters like - . can not be used as an variable identifier.
# a pre defined keyword can not be used as an variable identifier..

In [ ]:
#### Strings

a = 'leo caprio'
print(type(a))

<class 'str'>

In [ ]:
b = '''lio
messi'''
print(b)

lio
messi

In [ ]:
# Indexing 
c = "harry"

In [ ]:
print(c[0])

h

In [ ]:
print(len(c))

5

In [ ]:
d = "harry potter"
print(len(d))

12

In [ ]:
print(d[-1])

r

In [ ]:
len(c)

5

In [67]:
a = "harry potter"
a[1:10:2]

'ar ot'

In [71]:
a[::-1]

'rettop yrrah'

In [72]:
# String methods 

name = "amitabh bachchan"

#capitalize
name.capitalize()

'Amitabh bachchan'

In [73]:
#swapcase 
mk = "HaRRy PottER"
mk.swapcase()

'hArrY pOTTer'

In [74]:
x = "george clooney"
print(x.upper())

GEORGE CLOONEY

In [75]:
y = "GEORGE CLOONEY"
print(x.lower())

george clooney

In [78]:
s = "tom cruissse"
print(s.title())

Tom Cruissse

In [79]:
# count 
s.count('s')

3

In [80]:
# index method 
s.index('s')

8

In [81]:
# replace method 
q = "the summer heat in delhi is unbearable"

In [82]:
q.replace('delhi','mumbai')

'the summer heat in mumbai is unbearable'

In [86]:
#strip 
d = "                                        youtube is the most followed platform in internet"
print(d)
print(len(d))

                                        youtube is the most followed platform in internet
89

In [87]:
print(len(d.strip()))

49

In [88]:
#split method 
w = "jack and jill went up the hill"
w.split()

['jack', 'and', 'jill', 'went', 'up', 'the', 'hill']

In [89]:
z = "today is the last day when you can sumbmit the college form and  it is mandatory for all"
z.split("is")

['today ',
 ' the last day when you can sumbmit the college form and  it ',
 ' mandatory for all']

In [91]:
# conact method 
a = "john"
b = "peter"
c = "george"
print(a+" "+b+" "+c)

john peter george

In [92]:
d = "john"

In [93]:
print(d)

john

In [94]:
d = "haary"
print(d)

haary

In [95]:
d = "george"
print(d)
print(id(d))

george
2751951753264

In [96]:
d = "peter"
print(d)
print(id(d))

peter
2751951756080

In [97]:
lst1 = [10,15,20]
print(lst1)
print(id(lst1))

[10, 15, 20]
2751951789952

In [98]:
lst1[0] = 29
print(lst1)

[29, 15, 20]

In [99]:
print(id(lst1))

2751951789952

For a mutable data type , if new value is assigned to the datatype , the memory location of it remains unchanged while for a immutable data type , if new value is assigned to it , it gets stored in a different memory location

In [111]:
#f string formatting
a = 26000
b = 30000
print(f"peter's salary is {a}")

peter's salary is 26000

In [115]:
# percentile formatting 

g = "peter's salary is %s and he asked for %s"%(a,b)
g

"peter's salary is 26000 and he asked for 30000"

In [121]:
# endswith and startwith 
s  = "harry"
s.count('r')

2