In [ ]:
# Introduction oops

# Functionalities oops

# class , methods , objects

# Hands on : case study on banking System .

In [ ]:
# OOps --->object oriented programming approach .
# targetting the real world problem .

# developer ---> one creates computing products and application .

# it's way  using the objects and classes to implement real world entities
# like inheritance , polymorphism , encapsulation , so that you are solving
# real world problem more easily .

# class : group of similar items .

# blueprints defining how the objects in the class look like .
#
# entity that holds the functionality for specific task together .


# Object : real world entity which are having it's own behaviour and properties .

# objects are the entity which is used to access the properties and functionality
# for the class .

# class car --> (color , wheels 4 , transmission , sT) ---> TATA Nexon , GLS 200D, MG Hector
# TATA Nexon ---> Black , 4, At , NOT En .
# Tesla ---->  white , 4, At,En.
# kia Sonet---> red , 4, Man, Not En

# DGD LMS (OOPs):

# Class LMS ( Recording , Assignment , Announcement , class Schedules ):

# Object : Sunil , Nalina , Jana , Me ----> Students .

# one class -----> multiple objects .

# LMS ----> Millions of Learners .

# Banking system ---> once ----> Assigned as an object .

# method: function inside class are known as methods .

# Self : Keyword that needs to be first parameter in function inside a class
#to call it method .

# self keyword is given for referencing purpose.


# function :
# def add(x,y):

# Method :
# def add(self,x,y)
# class
# function

In [ ]:
# Syntax:

class sky:

  def fun1(self,a,b):
    return a*b

In [ ]:
# object creation .

light=sky()

In [ ]:
light.fun1(45,67)  # object is accessing the functionality .

3015

In [ ]:
class LMS :
  def course_resource(self):
    print('hello I am your Training partner and here are resources')

  def class_schedule(self):
    print('Here is your class Schedule ')

In [ ]:
course_resource()

NameError: ignored

In [ ]:
jim=LMS()  # create the object .

In [ ]:
jim.course_resource()

hello I am your Training partner and here are resources

In [ ]:
jim.class_schedule()

Here is your class Schedule

In [ ]:
yeti=LMS()

In [ ]:
yeti.course_resource()

hello I am your Training partner and here are resources

In [ ]:
fin=LMS()

In [ ]:
fin.course_resource()

hello I am your Training partner and here are resources

In [ ]:
x=[10,20]

In [2]:
# ATM machine


class ATM :

  def currency(self):
    print('Authorized Personnel , Access Money')

In [3]:
Akash=ATM()  # object creation

In [4]:
Akash.currency()

Authorized Personnel , Access Money

In [5]:
currency()

NameError: ignored

In [6]:
class Student:

  def details(self,s_id,name, grade, year):
    print('Student Id :',s_id)
    print('Student name:',name)
    print('Student grade:',grade)
    print('passing Year:',year)

  def fee_status(self,s):
    print('current fee status:',s)

In [7]:
s1=Student()

In [8]:
s1.details(101,'John','A',2024)

Student Id : 101
Student name: John
Student grade: A
passing Year: 2024

In [9]:
s1.fee_status('Pending')

current fee status: Pending

In [13]:
# class Members ---> Methods , Variables.


# variables : Environment .

# Local environment
class test:
  p=20

  def value(self):
    print('value of variable is :',self.p)

In [14]:
t1=test()

In [15]:
t1.value()

value of variable is : 20

In [16]:
# Global Environment
y=100
class demo :

  def value(self):
    print('value of y is :', y)

In [17]:
d1=demo() # object creation

In [18]:
d1.value()

value of y is : 100

In [ ]:
# well and frog


# Frog well ---> River

# Frog River ---> Well and river .

In [ ]:
# Banking System :

# current balance : helps to view the current balance.(bal)printed.

# credit: helps to add the amount. bal = bal+x amount.

# debit : withdrawing the amount . bal= bal - x amount .

# (bal should not be less than the requested withdraw amount).

In [19]:
class Bankaccount:

  bal=0

  def view_balance(self):
    print('current Balance :',self.bal)

  def credit(self,x):
    self.bal=self.bal+x
    print('credited Amount is :',x)
    print('Updated Balance is :',self.bal)

  def debit(self,y):

    if self.bal >= y:
      self.bal=self.bal-y
      print('Debit Amount is:',y)
      print('Updated Balance is :',self.bal)

    else:
      print('Insufficient Funds')

In [20]:
P1=Bankaccount()

In [21]:
P1.view_balance()

current Balance : 0

In [22]:
P1.credit(1000)

credited Amount is : 1000
Updated Balance is : 1000

In [23]:
P1.view_balance()

current Balance : 1000

In [24]:
P1.credit(5000)

credited Amount is : 5000
Updated Balance is : 6000

In [25]:
P1.debit(10000)

Insufficient Funds

In [26]:
P1.debit(456)

Debit Amount is: 456
Updated Balance is : 5544

In [27]:
P1.view_balance()

current Balance : 5544

In [28]:
P2=Bankaccount()

In [29]:
P2.view_balance()

current Balance : 0

In [30]:
P2.credit(2000)

credited Amount is : 2000
Updated Balance is : 2000

In [31]:
P2.debit(1452)

Debit Amount is: 1452
Updated Balance is : 548

In [32]:
P2.view_balance()

current Balance : 548

In [33]:
# P2 requested P1 to withdraw cash 1500 and give to P2

P1.debit(1500)

Debit Amount is: 1500
Updated Balance is : 4044

In [34]:
P2.credit(1500)

credited Amount is : 1500
Updated Balance is : 2048

In [35]:
P1.view_balance()

current Balance : 4044

In [36]:
P2.view_balance()

current Balance : 2048

In [37]:
P3=Bankaccount()

In [38]:
P3.credit(4578)

credited Amount is : 4578
Updated Balance is : 4578

In [39]:
P3.debit(1230)

Debit Amount is: 1230
Updated Balance is : 3348

In [40]:
P1.view_balance()

current Balance : 4044

In [41]:
P2.view_balance()

current Balance : 2048

In [42]:
P3.view_balance()

current Balance : 3348

In [43]:
P1.debit(102)

Debit Amount is: 102
Updated Balance is : 3942

In [44]:
P1.view_balance()

current Balance : 3942

In [45]:
P2.view_balance()

current Balance : 2048

In [46]:
P3.view_balance()

current Balance : 3348

In [ ]:
# Case study :  Home take away .


# Create a interactive calculator with commands .