#### CHI Square Test

In [1]:
import pandas as pd 
import numpy as np 
from scipy.stats import chi2_contingency

In [2]:
np.random.seed(42)

In [3]:
marital_status = ['never married','married','divorced','widowed']
qualifications = ['middle school','high school','bachelors','masters','phd']

In [4]:
num_individuals = 200

In [5]:
data = {
    'marital_status':np.random.choice(marital_status,num_individuals),
    'qualification':np.random.choice(qualifications,num_individuals)
}

In [6]:
df = pd.DataFrame(data)

In [7]:
df

    marital_status  qualification
0         divorced  middle school
1          widowed        masters
2    never married            phd
3         divorced        masters
4         divorced            phd
..             ...            ...
195        married      bachelors
196        married    high school
197        widowed    high school
198  never married    high school
199       divorced  middle school

[200 rows x 2 columns]

In [8]:
contingency_table = pd.crosstab(df['marital_status'],df['qualification'])
chi2 , p , dof , expected = chi2_contingency(contingency_table)

In [9]:
print(f'the chi square value is : {chi2}')
print(f'The p-value is: {p}')
print(f'Degree of freedom: {dof}')
print('The contingency table')
print(contingency_table)
print('the expected table')
print(expected)

the chi square value is : 20.402509097049297
The p-value is: 0.059844764537951144
Degree of freedom: 12
The contingency table
qualification   bachelors  high school  masters  middle school  phd
marital_status
divorced                9           11       13             13    8
married                 8            8       14             13    3
never married          13            4        6              9   14
widowed                14            6       13             16    5
the expected table
[[11.88  7.83 12.42 13.77  8.1 ]
 [10.12  6.67 10.58 11.73  6.9 ]
 [10.12  6.67 10.58 11.73  6.9 ]
 [11.88  7.83 12.42 13.77  8.1 ]]

In [10]:
#significance level 
alpha = 0.05

if p < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

Fail to reject the null hypothesis