#### Python Sets & Tuples

#### Set -

    -   Sets are collection of unordered elements 
    -   The elements in a set are not indexed 
    -   The elements of sets can have mixed data types - string , integers , floats
    -   Items in the set can be changed - mutable
    -   Sets can not contain duplicate elements.

In [1]:
# {} , set([])

a = {2,2.5,'xyz'}
print(a)
print(type(a))

{2, 2.5, 'xyz'}
<class 'set'>

In [2]:
b = set([58,9,3.5,'fog'])
print(b)
print(type(b))

{9, 58, 3.5, 'fog'}
<class 'set'>

In [10]:
### Important for interview -
lst = [4,5,5,10,15,5]
print(set(lst))

{10, 4, 5, 15}

In [8]:
unique_lst

[4, 5, 10, 15]

In [11]:
c = set([5,9,6,3,])
print(type(c))

<class 'set'>

In [13]:
c.add(15)
print(c)

{3, 5, 6, 9, 15}

In [26]:
xy.update(yz)
print(c)

{3, 5, 6, 9, 15, 852, 795}

In [15]:
g = [4,8,5,96]
dir(g)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [18]:
#intersection method 
xy = {5,7,9,6,3,25,15}
yz = {7,99,30,9,52,4}

print(xy&yz)

{9, 7}

In [19]:
print(xy.intersection(yz))

{9, 7}

In [25]:
# difference method 
print(xy.difference(yz))

{3, 5, 6, 15, 25}

In [21]:
print(yz-xy)

{99, 4, 52, 30}

In [22]:
xy

{3, 5, 6, 7, 9, 15, 25}

In [23]:
yz

{4, 7, 9, 30, 52, 99}

##### Tuples -

    -    Tuples are immutable
    -    Tuples are denoted with ()
    -    If you create a tuple with a single element , then you have to use ','

In [33]:
t = (58,'qq',5.8)

In [34]:
print(type(t))

<class 'tuple'>

In [35]:
print(t[0])

58

In [37]:
tu = (5,59,6,3,5,6)
print(tu.count(6))

2

In [38]:
dir(tu)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

##### Loops -

In [43]:
lst1 = ["harry","ron","Peter","union"]

for i in lst1:
    print(i)

harry
ron
Peter
union

In [47]:
for i in lst1:
    if len(i)<4:
        print(i)

ron

In [50]:
lst1

['harry', 'ron', 'Peter', 'union']

In [64]:
for i in range(len(lst1)):
    if len(lst1[i])<4:
        print(lst1[i])

ron

In [59]:
# first loop i = 0 , i =1 , i =2 , i =3
# lst1[0] , lst1[1] , lst1[2] , lst1[3]
# harry , ron , peter , union
#

In [61]:
for i in range(4):
    print(i)

0
1
2
3

In [62]:
print(len(lst1))

4

In [71]:
# print a loop that gives an output from 1 to 200
# import inflect
# # one two three four 
# for i in range(1,100):
#     p = inflect.engine()
#     print(p.number_to_words(i))

In [72]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [77]:
# Break
for i in range(0,10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [85]:
# Continue Statement
for i in range(0,100):
    if (i>=40 and i<=60):
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99