In [26]:
def func():
    return"this is function1"

In [27]:
func()

'this is function1'

In [28]:
# this is for taking user input on two numbers
num1 = int(input("please provide number 1: "))
num2 = int(input("please provide number 2: "))

# a function to calculate average on two number
def average(num1,num2):
    return (num1 + num2) / 2

print(int(average(num1,num2)))

5

In [29]:
# first step - we as users are providing two numbers
# Second step - creating a function that calculates average of the two numbers
# final step - calculating the average and printing

In [30]:
# Parameters and Arguments

def sum(a,b): # parameters a and b
    return a+b
print(sum(25,78)) # arguments 25 and 78

103

In [31]:
def func2(a=10,b=-8,c=5,d=6):
    x = a-b
    y = c+d
    return (x*y)

In [32]:
func2()

198

In [33]:
def fullname(fname,lname):
    cname = fname+" "+lname
    return   cname

In [34]:
fullname(fname="thomas",lname="shelby")

'thomas shelby'

In [35]:
def country(country="India"):
    return f'I am from {country}'

country()

'I am from India'

In [37]:
country("Sweden")

'I am from Sweden'

In [41]:
def details(fname,age=29):
    dtl = (f"the name is {fname} and the age is {age}")
    return dtl
print(details("john"))

the name is john and the age is 29

In [42]:
# Arbitary Keyword Arguments - Kwargs
def student(**user):
    return user

In [44]:
print(student(id=1,name='peter',town='delhi',phone = 562532))

{'id': 1, 'name': 'peter', 'town': 'delhi', 'phone': 562532}

In [50]:
# lambda
x = lambda a,b,c: a*b*c
print(x(5,9,10))

450

In [56]:
def myfunc(n):
    return lambda a:a*n

x = myfunc(5)
y = myfunc(8)

print(y(10))

80

In [57]:
lst = [5,8,9,6,3]
lst2 = list(map(lambda i:i*2,lst))
lst2

[10, 16, 18, 12, 6]