In [2]:
import pandas as pd 
import numpy as np

In [3]:
lpd = pd.read_csv(r"D:\DS WorkFlow\Data Is Good Class Files\Batches\2023-Classes\25th Feb Batch\train_Loan.csv")
lpd.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
lpd.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
lpd1 = lpd.copy()
lpd2 = lpd.copy()
lpd3 = lpd.copy()
lpd4 = lpd.copy()
lpd5 = lpd.copy()
lpd6 = lpd.copy()

In [6]:
lpd6.to_csv('lpd6.csv')

In [7]:
lpd5.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [8]:
# The first method - DropNA method , this removes all missing value related records.
lpd1.dropna(inplace=True)

In [9]:
lpd1.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [10]:
lpd2.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [11]:
print(lpd2['LoanAmount'].count())

592

In [12]:
print(lpd2['LoanAmount'].sum())

86676.0

In [13]:
lpd2['LoanAmount'].fillna(0,inplace=True)

In [14]:
print(lpd2['LoanAmount'].count())

614

In [15]:
print(lpd2['LoanAmount'].sum())

86676.0

In [16]:
lpd3['LoanAmount'].isnull().sum()

22

    -   1500
    -   5000
    -   1200
    -   2170
    -   1000

In [17]:
lpd3['LoanAmount'].fillna(lpd3['LoanAmount'].mean(),inplace=True)

In [18]:
lpd3['LoanAmount'].isnull().sum()

0

In [19]:
print(lpd3['LoanAmount'].sum())

89897.06756756757

In [20]:
# for i in range(1,50):
#     if i%2 ==1:
#         print(i)

# for i in range(1,50,2):
#     print(i)

In [21]:
lpd4

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [22]:
lpd4.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [23]:
# handling missing data  with median values
print(lpd4['LoanAmount'].sum())
print(lpd4['LoanAmount'].count())
print(592+22)

86676.0
592
614

In [24]:
lpd4['LoanAmount'].fillna(lpd4['LoanAmount'].median(),inplace=True)

In [25]:
lpd4['LoanAmount'].isnull().sum()
print(lpd4['LoanAmount'].sum())
print(lpd4['LoanAmount'].count())

89492.0
614

In [26]:
lpd4[['LoanAmount','Dependents']].isnull().sum()

LoanAmount     0
Dependents    15
dtype: int64

In [27]:
lpd5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [28]:
print(lpd5['Gender'].count())
print(lpd5['Gender'].isnull().sum())
x = lpd5['Gender'].count()
y = lpd5['Gender'].isnull().sum()
print(f'total row count after handling missing values {x+y}')

601
13
total row count after handling missing values 614

In [29]:
lpd5.fillna(lpd5['Gender'].mode().iloc[0],inplace=True)

In [30]:
print(lpd5['Gender'].count())
print(lpd5['Gender'].isnull().sum())

614
0

In [31]:
a = "lionel messi"

In [32]:
print(a)
print(id(a))

lionel messi
2584685109040

In [33]:
a = "julian alvarez"

In [34]:
print(a)
print(id(a))

julian alvarez
2584685103600