    -   SVM is support vector machine
    -   SVM is used for classification problems
    -   SVM works on a linearly separable data
    -   SVM projects a hyperplane on the center location between two classes of data
    -   Generally used for Binary Classification , we can tweak our data point and can use it for multiclass classification

##### One vs All Approach

    -   Suppose our data has three unique class - (+,*,^)
    -   A new data point comes along , and we need to determine how svm will generate respective hyperplane for the data
    -   In this case scenarion SVM will develop three modesl
            -   Model 1 - (class 1 - '+') , (Class 2 - '*','^')
            -   Model 2 - (class 1 - '^') , (Class 2 - '*','+')
            -   Model 3 - (class 1 - '*') , (Class 2 - '+','^')
    -   Our new data point will iterate across all models , and wherever the new data finds the shortest distance developing hyperplane and aligned class it will self assign.

##### One vs One Approach
    -   Suppose our data has three unique class - (+,*,^)
    -   A new data point comes along , and we need to determine how svm will generate respective hyperplane for the data
    -   The SVM will create binary classifier for each pair available in the data
            -   Pair 1 - (+,*)
            -   Pair 2 - (^,*)
            -   Pair 3 - (+,^)
    -   Our new data point will iterate across all models , and wherever the new data finds the shortest distance developing hyperplane and aligned class it will self assign.

##### Kernel Function

    -   Polynominal Kernel - Less efficient on non linear data 
    -   RBF Kernel - (Radial Bias Function) - More efficient on non linear data types
    -   Sigmoid Kernel - Mainly used in neural networks
    -   Linear Kernel - Used for linearaly separable data type

In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC 
from sklearn.metrics import accuracy_score,classification_report

In [2]:

titanic_data = pd.read_csv(r"https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv")

In [3]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanic_data = titanic_data.drop(['Name','Ticket','Cabin','Embarked'],axis = 1)

In [5]:
titanic_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [6]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64

In [7]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [8]:
m_age = titanic_data['Age'].median()
titanic_data['Age'].fillna(m_age,inplace=True)

In [9]:
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [10]:
titanic_data = pd.get_dummies(titanic_data,columns=['Sex','Pclass'])

In [11]:
titanic_data.head()

,PassengerId,Survived,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
0,1,0,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,35.0,1,0,53.1000,1,0,1,0,0
4,5,0,35.0,0,0,8.0500,0,1,0,0,1

In [12]:
x = titanic_data.drop("Survived",axis=1)
y = titanic_data['Survived']

In [13]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=42)

In [14]:
xtrain

,PassengerId,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
331,332,45.5,0,0,28.5000,0,1,1,0,0
733,734,23.0,0,0,13.0000,0,1,0,1,0
382,383,32.0,0,0,7.9250,0,1,0,0,1
704,705,26.0,1,0,7.8542,0,1,0,0,1
813,814,6.0,4,2,31.2750,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
106,107,21.0,0,0,7.6500,1,0,0,0,1
270,271,28.0,0,0,31.0000,0,1,1,0,0
860,861,41.0,2,0,14.1083,0,1,0,0,1
435,436,14.0,1,2,120.0000,1,0,1,0,0
102,103,21.0,0,1,77.2875,0,1,1,0,0

In [15]:
scaler = StandardScaler()
xtrain = scaler.fit_transform(xtrain)
xtest = scaler.fit_transform(xtest)

In [16]:
xtrain

array([[-0.45306593,  1.25364106, -0.47072241, ...,  1.8352379 ,
        -0.51880845, -1.1258401 ],
       [ 1.11387354, -0.47728355, -0.47072241, ..., -0.54488848,
         1.92749365, -1.1258401 ],
       [-0.25427511,  0.21508629, -0.47072241, ..., -0.54488848,
        -0.51880845,  0.8882256 ],
       ...,
       [ 1.60890168,  0.90745614,  1.23056874, ..., -0.54488848,
        -0.51880845,  0.8882256 ],
       [-0.04768856, -1.1696534 ,  0.37992316, ...,  1.8352379 ,
        -0.51880845, -1.1258401 ],
       [-1.34567573, -0.63114352, -0.47072241, ...,  1.8352379 ,
        -0.51880845, -1.1258401 ]])

In [17]:
svm_model = SVC(kernel='rbf')
svm_model.fit(xtrain,ytrain)

SVC()

In [18]:
ypred = svm_model.predict(xtest)

In [19]:
accuracy = accuracy_score(ytest,ypred)

In [20]:
accuracy

0.8100558659217877

In [21]:
classification_report = classification_report(ytest,ypred)

In [23]:
print(classification_report)

              precision    recall  f1-score   support

           0       0.81      0.89      0.85       105
           1       0.81      0.70      0.75        74

    accuracy                           0.81       179
   macro avg       0.81      0.79      0.80       179
weighted avg       0.81      0.81      0.81       179