##### Decision Tree Classifier

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('diabetes.csv')

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
col_names = ['pregnant','glucose','bp','skin','insulin','bmi','pedigree','age','label']

In [6]:
df = pd.read_csv('diabetes.csv',header=None,names=col_names)

In [7]:
df.head()

,pregnant,glucose,bp,skin,insulin,bmi,pedigree,age,label
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

In [8]:
df = df.drop(df.index[0])

In [9]:
df.head()

  pregnant glucose  bp skin insulin   bmi pedigree age label
1        6     148  72   35       0  33.6    0.627  50     1
2        1      85  66   29       0  26.6    0.351  31     0
3        8     183  64    0       0  23.3    0.672  32     1
4        1      89  66   23      94  28.1    0.167  21     0
5        0     137  40   35     168  43.1    2.288  33     1

In [10]:
df.reset_index(inplace=True)

In [11]:
df.head()

   index pregnant glucose  bp skin insulin   bmi pedigree age label
0      1        6     148  72   35       0  33.6    0.627  50     1
1      2        1      85  66   29       0  26.6    0.351  31     0
2      3        8     183  64    0       0  23.3    0.672  32     1
3      4        1      89  66   23      94  28.1    0.167  21     0
4      5        0     137  40   35     168  43.1    2.288  33     1

In [12]:
df.columns

Index(['index', 'pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi',
       'pedigree', 'age', 'label'],
      dtype='object')

In [13]:
feature_cols = ['index', 'pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi','pedigree','age']
x = df[feature_cols]
y = df.label

In [14]:
x

     index pregnant glucose  bp skin insulin   bmi pedigree age
0        1        6     148  72   35       0  33.6    0.627  50
1        2        1      85  66   29       0  26.6    0.351  31
2        3        8     183  64    0       0  23.3    0.672  32
3        4        1      89  66   23      94  28.1    0.167  21
4        5        0     137  40   35     168  43.1    2.288  33
..     ...      ...     ...  ..  ...     ...   ...      ...  ..
763    764       10     101  76   48     180  32.9    0.171  63
764    765        2     122  70   27       0  36.8     0.34  27
765    766        5     121  72   23     112  26.2    0.245  30
766    767        1     126  60    0       0  30.1    0.349  47
767    768        1      93  70   31       0  30.4    0.315  23

[768 rows x 9 columns]

In [15]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: label, Length: 768, dtype: object

In [16]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3)

In [17]:
clf = DecisionTreeClassifier()

In [18]:
clf = clf.fit(xtrain,ytrain)

In [19]:
ypred = clf.predict(xtest)

In [20]:
ypred

array(['1', '0', '1', '0', '0', '0', '1', '1', '1', '0', '1', '1', '0',
       '1', '1', '0', '0', '0', '0', '1', '0', '0', '1', '0', '0', '1',
       '1', '0', '1', '0', '1', '1', '0', '0', '0', '1', '0', '1', '1',
       '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '1', '0', '0', '1', '1', '1', '0', '0', '0', '1', '0', '0', '0',
       '0', '0', '0', '0', '1', '0', '1', '0', '1', '0', '1', '1', '1',
       '1', '0', '1', '0', '0', '0', '1', '1', '0', '1', '0', '0', '0',
       '1', '1', '1', '1', '0', '1', '1', '1', '0', '1', '1', '0', '0',
       '1', '1', '0', '1', '0', '1', '0', '0', '0', '1', '0', '1', '0',
       '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '1', '1',
       '1', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '1', '0',
       '0', '0', '0', '1', '1', '0', '0', '0', '0', '1', '1', '0', '1',
       '1', '1', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0',
       '1', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '1', '0',
       '0', '0', '1', '1', '1', '0', '1', '1', '0', '0', '0', '0', '0',
       '0', '0', '1', '0', '1', '1', '1', '1', '0', '0'], dtype=object)

In [21]:
ytest

628    0
205    0
424    1
103    0
6      1
      ..
681    1
539    1
265    0
679    0
401    0
Name: label, Length: 231, dtype: object

In [22]:
#score
clf.score(xtest,ytest)

0.696969696969697

In [23]:
clf.score(xtrain,ytrain)

1.0

In [24]:
from sklearn import metrics

In [25]:
print("Accuracy:",metrics.accuracy_score(ytest,ypred))

Accuracy: 0.696969696969697

In [29]:
print("Recall:",metrics.recall_score(ytest,ypred,pos_label='1'))

Recall: 0.5657894736842105

In [30]:
import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv('IceCreamData.csv')

In [34]:
df.head()

   Temperature     Revenue
0    24.566884  534.799028
1    26.005191  625.190122
2    27.790554  660.632289
3    20.595335  487.706960
4    11.503498  316.240194

In [35]:
x = df['Temperature'].values
y = df['Revenue'].values

In [36]:
from sklearn.model_selection import train_test_split

In [37]:

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3)

In [38]:
from sklearn.tree import DecisionTreeRegressor

In [39]:
dr = DecisionTreeRegressor()

In [42]:
dr.fit(xtrain.reshape(-1,1),ytrain.reshape(-1,1))

DecisionTreeRegressor()

In [43]:
ypred = dr.predict(xtest.reshape(-1,1))

In [45]:
dr.score(xtest.reshape(-1,1),ytest.reshape(-1,1))

0.9599294089851581