##### Linear Regression

    -   Predictive modelling
    -   Supervised Learning method
    -   Labels are available
    -   Dependent Variable , Independent Variable
    -   Features/attributes - Independent variable
    -   Target - Dependent Variable
    -   X is my independent variable , y is my dependent variable - their relationship is linear in nature
    -   x is increasing , y should also increase / decrease 
    -   x is decreasing , y should also decrease / increase
    -   No multi colinearity - 3 independent variables , 1 dependent variable
    -   a , b , c - if a is increasing it is not mandatory that b or c will have an impact on the same.
    -   Errors - difference between actual data point and predicted data point - Residuals
    -   Residuals if plotted on a distribution curve , it will display a normal distribution

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.DataFrame([['akash',23,'intern',20000],
                   ['alok',25,'intern',21000],
                   ['rahul',28,'executive',25000],
                   ['kaushik',33,'manager',30000],
                   ['shovan',29,'executive',26000],
                   ['diksha',34,'manager',32000],
                   ['aritra',23,'executive',24000],
                   ['amrita',31,'executive',26000]],columns = ['Name','Age','Designation','Salary'])

In [3]:
df.head()

      Name  Age Designation  Salary
0    akash   23      intern   20000
1     alok   25      intern   21000
2    rahul   28   executive   25000
3  kaushik   33     manager   30000
4   shovan   29   executive   26000

In [4]:
x = df[['Name','Age','Designation']]
y = df[['Salary']]

In [5]:
x

      Name  Age Designation
0    akash   23      intern
1     alok   25      intern
2    rahul   28   executive
3  kaushik   33     manager
4   shovan   29   executive
5   diksha   34     manager
6   aritra   23   executive
7   amrita   31   executive

In [6]:
y

   Salary
0   20000
1   21000
2   25000
3   30000
4   26000
5   32000
6   24000
7   26000

In [7]:
print(len(x))

8

In [8]:
x.drop(['Name'],axis=1,inplace=True)

C:\Users\sengu\AppData\Local\Temp\ipykernel_19044\181599321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.drop(['Name'],axis=1,inplace=True)

In [9]:
x

   Age Designation
0   23      intern
1   25      intern
2   28   executive
3   33     manager
4   29   executive
5   34     manager
6   23   executive
7   31   executive

In [11]:
from sklearn.preprocessing import OneHotEncoder 
enc = OneHotEncoder()

In [12]:
enc_data = pd.DataFrame(enc.fit_transform(x[['Designation']]).toarray())

In [13]:
x = x.join(enc_data)

In [14]:
x.head()

   Age Designation    0    1    2
0   23      intern  0.0  1.0  0.0
1   25      intern  0.0  1.0  0.0
2   28   executive  1.0  0.0  0.0
3   33     manager  0.0  0.0  1.0
4   29   executive  1.0  0.0  0.0

In [15]:
x.drop(['Designation'],axis=1 , inplace = True)

In [16]:
x.head()

   Age    0    1    2
0   23  0.0  1.0  0.0
1   25  0.0  1.0  0.0
2   28  1.0  0.0  0.0
3   33  0.0  0.0  1.0
4   29  1.0  0.0  0.0

In [17]:
from sklearn.preprocessing import StandardScaler
st = StandardScaler()

In [18]:
x['Age'] = np.array(x['Age']).reshape(-1,1)

In [19]:
x

   Age    0    1    2
0   23  0.0  1.0  0.0
1   25  0.0  1.0  0.0
2   28  1.0  0.0  0.0
3   33  0.0  0.0  1.0
4   29  1.0  0.0  0.0
5   34  0.0  0.0  1.0
6   23  1.0  0.0  0.0
7   31  1.0  0.0  0.0

In [22]:
x.ndim

2

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
xtrain , xtest , ytrain , ytest = train_test_split(x,y,test_size= 0.2)

In [28]:
lr = LinearRegression()
model = lr.fit(xtrain,ytrain)

TypeError: Feature names are only supported if all input features have string names, but your input has ['int', 'str'] as feature name / column name types. If you want feature names to be stored and validated, you must convert them all to strings, by using X.columns = X.columns.astype(str) for example. Otherwise you can remove feature / column names from your input data, or convert them all to a non-string data type.