In [1]:
print("Hello World")

Hello World

In [7]:
a_b = 25
print(a_b)

25

In [8]:
var1 = "Hello" #string or denoted as str
var2 = 152 #integer or denoted as int
var3 = 14.5 #floating point number or denoted as float

In [11]:
print(var3)

14.5

In [14]:
print(type(var3))

<class 'float'>

In [23]:
var4 = 5
var5 = "park"
var6 = var4*var5
print(var6)

parkparkparkparkpark

In [34]:
var8 = "park"
var9 = 5
print(var9+float(var8))

ValueError: could not convert string to float: 'park'

In [35]:
var10 = "5"
var11 = "2"
var12 = "Hello"
var13 = (int(var10)-int(var11))*var12

In [36]:
print(var13)

HelloHelloHello

In [38]:
print(3*"park\n")

park
park
park

In [48]:
var1 = "harry potter"
var2 = "maguire"
print(var1+" "+var2)

harry potter maguire

In [49]:
print(len(var1))

12

In [54]:
a=b=c=10

In [57]:
print(b)

10

In [58]:
d,e,f=47,75.50,"bruce"

In [61]:
print(f)

bruce

In [62]:
del(var1)

In [63]:
print(var1)

NameError: name 'var1' is not defined

In [64]:
#strings
name = "Leo Messi"

In [65]:
print(type(name))

<class 'str'>

In [66]:
print(len(name))

9

In [69]:
print(name[3])

In [70]:
print(name[-6])

In [75]:
name[0:9:2]

'LoMsi'

In [6]:
c = '''harry
potter '''

In [7]:
print(c)

harry
potter

In [3]:
print(b)

harry potter

In [8]:
daffodils = ''' 
I wandered lonely as a cloud
That floats on high o'er vales and hills,
When all at once I saw a crowd,
A host, of golden daffodils;
Beside the lake, beneath the trees,
Fluttering and dancing in the breeze.

Continuous as the stars that shine
And twinkle on the milky way,
They stretched in never-ending line
Along the margin of a bay:
Ten thousand saw I at a glance,
Tossing their heads in sprightly dance.
   '''

In [9]:
print(daffodils)

I wandered lonely as a cloud
That floats on high o'er vales and hills,
When all at once I saw a crowd,
A host, of golden daffodils;
Beside the lake, beneath the trees,
Fluttering and dancing in the breeze.

Continuous as the stars that shine
And twinkle on the milky way,
They stretched in never-ending line
Along the margin of a bay:
Ten thousand saw I at a glance,
Tossing their heads in sprightly dance.

In [14]:
print(daffodils[:])

I wandered lonely as a cloud
That floats on high o'er vales and hills,
When all at once I saw a crowd,
A host, of golden daffodils;
Beside the lake, beneath the trees,
Fluttering and dancing in the breeze.

Continuous as the stars that shine
And twinkle on the milky way,
They stretched in never-ending line
Along the margin of a bay:
Ten thousand saw I at a glance,
Tossing their heads in sprightly dance.

In [15]:
# Capitalize
name = "thomas shelby"
name.capitalize()

'Thomas shelby'

In [16]:
name.title()

'Thomas Shelby'

In [17]:
a = "viRendRA SheHwaG"
a.swapcase()

'VIrENDra sHEhWAg'

In [19]:
#isalpha/isalnum

x = "garylinkear2022"
x.isalnum()

True

In [21]:
# count
x.count('a')

2

In [26]:
#find and index
x.index('r')

2

In [28]:
# replace
b = "we are two two lost souls, swimming in a fish bowl"
b.replace('two','three')

'we are three three lost souls , swimming in a fish bowl'

In [29]:
# strip
c = "     we've become , comfortably numb"
print(len(c))

36

In [30]:
c = c.strip()

In [31]:
print(len(c))

31

In [32]:
print(c)

we've become , comfortably numb

In [42]:
#split

ab = b.split(',')
print(ab)

['is']

In [37]:
print(ab[2])

two

In [38]:
# concat
a,b,c = 'python','is','best'

In [39]:
a

'python'

In [40]:
b

'is'

In [41]:
c

'best'

In [43]:
z = "we are two two lost souls , swimming in a fish bowl"
z.split(',')

['we are two two lost souls ', ' swimming in a fish bowl']

In [45]:
print(a+" "+b+" " +c)

python is best

##### Loops

In [55]:
lst = ['harry','bruce','stephen','natasha','tony']
''' For Loop '''
for i in lst:
    print(i)

harry
bruce
stephen
natasha
tony

In [56]:
for i in lst:
    if len(i)<6:
        print(i)

harry
bruce
tony

In [57]:
lst2 = [["peter","s"],["bruce","b"],["Tony","I"]]

In [59]:
for i in lst2:
    print(i)

['peter', 's']
['bruce', 'b']
['Tony', 'I']