- List is container of individual value elements 
- Dictionary is Key-Value Pair
- In case of list , every element do not posses a key element to describe it

In [119]:
lst = [4,5,9,6,9,10]
print(type(lst))

<class 'list'>

In [120]:
d1 = {"name":"Arka","age":28,"DGPA":7.8}
print(type(d1))

<class 'dict'>

In [121]:
print(d1)

{'name': 'Arka', 'age': 28, 'DGPA': 7.8}

In [122]:
print(d1["DGPA"])

7.8

In [123]:
# nested dictionary 
d3 = {"peter":"data analyst",
      "akash":"tester",
      "praveen":"ml ops",
      "tony":{"job":"software engineer",
              "salary":180000,
              "location":"India"}}

#1st layer of dictionary - keys - peter,akash,praveen,tony -
#2nd layer of dictionary - keys - job , salary , location -

In [124]:
print(d3["tony"])

{'job': 'software engineer', 'salary': 180000, 'location': 'India'}

In [125]:
# Get Method
print(d3.get("tony"))

{'job': 'software engineer', 'salary': 180000, 'location': 'India'}

In [126]:
# Accessing all the keys -
print(d3.keys())

dict_keys(['peter', 'akash', 'praveen', 'tony'])

In [127]:
print((d3['tony']).keys())

dict_keys(['job', 'salary', 'location'])

In [128]:
# Changing Dictionary Items  
dl4 = {"name":"john",
       "age":20,
       "town":"Kochi"}
print(dl4)

{'name': 'john', 'age': 20, 'town': 'Kochi'}

In [129]:
dl4['town'] = 'Chennai'

In [130]:
print(dl4)

{'name': 'john', 'age': 20, 'town': 'Chennai'}

In [131]:
dl4.update({'age':25})

In [132]:
print(dl4)

{'name': 'john', 'age': 25, 'town': 'Chennai'}

In [133]:
# dl4.pop("age")

In [134]:
dl4

{'name': 'john', 'age': 25, 'town': 'Chennai'}

In [135]:
# del dl4['name']

In [136]:
dl4

{'name': 'john', 'age': 25, 'town': 'Chennai'}

In [137]:
# removed_age = dl4.pop('age')

In [138]:
dl4

{'name': 'john', 'age': 25, 'town': 'Chennai'}

In [139]:
#popitem - removes the last inserted element in a dictionary
#dl4.popitem()

In [140]:
dl5 = {"name":"john",
       "age":20,
       "town":dl4.popitem()}

In [141]:
dl5

{'name': 'john', 'age': 20, 'town': ('town', 'Chennai')}

In [142]:
# del dl5

In [143]:
dl5

{'name': 'john', 'age': 20, 'town': ('town', 'Chennai')}

In [144]:
dl5.clear()
dl5

{}

In [148]:
# Looping Through a dictionary 

for i in dl4.keys():
    print(i)

name
age

In [150]:
for i in dl4:
    print(dl4[i])

john
25

In [151]:
for i in dl4.items():
    print(i)

('name', 'john')
('age', 25)

In [152]:
dl6 = dl4.copy()

In [153]:
dl6

{'name': 'john', 'age': 25}

In [154]:
dl9 = {}.fromkeys(range(1,6),8)
dl9

{1: 8, 2: 8, 3: 8, 4: 8, 5: 8}

In [155]:
# string
# number 
# datetime
# boolean

In [158]:
lst = ["name1","name2","name3"]
lst3 = ["john","harry","stephen"]
d20 = {}.fromkeys(lst,lst3)
d20

{'name1': ['john', 'harry', 'stephen'],
 'name2': ['john', 'harry', 'stephen'],
 'name3': ['john', 'harry', 'stephen']}

In [159]:
d21 = {"name":"park","age":30}
d21["town"] = "kolkata"
d21

{'name': 'park', 'age': 30, 'town': 'kolkata'}

In [161]:
d22 = {"job":"engineer"}
d21["living"] = d22

In [162]:
d21

{'name': 'park', 'age': 30, 'town': 'kolkata', 'living': {'job': 'engineer'}}

In [163]:
salary = {"a":10000,
          "b":15000,
          "c":25000}

In [164]:
salary

{'a': 10000, 'b': 15000, 'c': 25000}

In [169]:
for i in salary:
salary[i] = salary[i] + (salary[i]*0.20)
print(salary[i])

IndentationError: expected an indented block (3339197578.py, line 2)