In [1]:
print('hello world')

hello world

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"D:\DS WorkFlow\Datasets\crime.csv")

In [4]:
df.tail(4)

,Year,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
51,2011,311587816,1206031,14661,84175,NaN,354772,752423,9052743,2185140,...,387.1,4.7,27.0,NaN,113.9,241.5,2905.4,701.3,1974.1,230.0
52,2012,313873685,1217067,14866,85141,NaN,355051,762009,9001992,2109932,...,387.8,4.7,27.1,NaN,113.1,242.8,2868.0,672.2,1965.4,230.4
53,2013,316497531,1199684,14319,82109,113695.0,345095,726575,8650761,1931835,...,379.1,4.5,25.9,35.9,109.0,229.6,2733.3,610.4,1901.6,221.3
54,2014,318857056,1197987,14249,84041,116645.0,325802,741291,8277829,1729806,...,375.7,4.5,26.4,36.6,102.2,232.5,2596.1,542.5,1837.3,216.2

In [5]:
df.columns

Index(['Year', 'Population', 'Violent crime total',
       'Murder and nonnegligent Manslaughter', 'Legacy rape /1',
       'Revised rape /2', 'Robbery', 'Aggravated assault',
       'Property crime total', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Violent Crime rate',
       'Murder and nonnegligent manslaughter rate', 'Legacy rape rate /1',
       'Revised rape rate /2', 'Robbery rate', 'Aggravated assault rate',
       'Property crime rate', 'Burglary rate', 'Larceny-theft rate',
       'Motor vehicle theft rate'],
      dtype='object')

In [6]:
df[['Year','Population']].describe()
#Pandas Series - []
#Pandas Dataframe - [[]]

             Year    Population
count    55.00000  5.500000e+01
mean   1987.00000  2.460985e+08
std      16.02082  4.165900e+07
min    1960.00000  1.793232e+08
25%    1973.50000  2.106215e+08
50%    1987.00000  2.422889e+08
75%    2000.50000  2.833697e+08
max    2014.00000  3.188571e+08

In [7]:
df['Murder and nonnegligent manslaughter rate'].value_counts()

Murder and nonnegligent manslaughter rate
5.6     4
9.8     4
5.7     3
9.0     3
5.1     2
9.4     2
4.7     2
5.5     2
8.3     2
4.8     2
8.7     2
4.5     2
8.6     2
7.9     2
4.6     2
7.4     1
5.0     1
5.4     1
5.8     1
4.9     1
6.2     1
6.3     1
6.8     1
8.2     1
9.6     1
9.5     1
9.3     1
8.5     1
8.0     1
6.9     1
7.3     1
10.2    1
8.8     1
9.1     1
Name: count, dtype: int64

In [8]:
df.head()

,Year,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
0,1960,179323175,288460,9110,17190,NaN,107840,154320,3095700,912100,...,160.9,5.1,9.6,NaN,60.1,86.1,1726.3,508.6,1034.7,183.0
1,1961,182992000,289390,8740,17220,NaN,106670,156760,3198600,949600,...,158.1,4.8,9.4,NaN,58.3,85.7,1747.9,518.9,1045.4,183.6
2,1962,185771000,301510,8530,17550,NaN,110860,164570,3450700,994300,...,162.3,4.6,9.4,NaN,59.7,88.6,1857.5,535.2,1124.8,197.4
3,1963,188483000,316970,8640,17650,NaN,116470,174210,3792500,1086400,...,168.2,4.6,9.4,NaN,61.8,92.4,2012.1,576.4,1219.1,216.6
4,1964,191141000,364220,9360,21420,NaN,130390,203050,4200400,1213200,...,190.6,4.9,11.2,NaN,68.2,106.2,2197.5,634.7,1315.5,247.4

In [9]:
data = {
    'A':[1,2,3],
    'B':[4,5,6],
    'C':[7,8,9]
}
df = pd.DataFrame(data)

In [10]:
df.head()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [11]:
df.set_index('A',inplace=True)

In [12]:
df.head()

   B  C
A
1  4  7
2  5  8
3  6  9

In [13]:
df.reset_index(inplace=True)
df.head()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [14]:
df.rename(
    index={0:'zero',1:'one',2:'two',3:'three'},
    columns={'A':'Alpha','B':'Beta','C':'Charlie'},inplace=True
)

In [15]:
df.head()

      Alpha  Beta  Charlie
zero      1     4        7
one       2     5        8
two       3     6        9

In [16]:
df1 = pd.read_csv(r"D:\DS WorkFlow\Datasets\crime.csv")

In [17]:
df1.columns

Index(['Year', 'Population', 'Violent crime total',
       'Murder and nonnegligent Manslaughter', 'Legacy rape /1',
       'Revised rape /2', 'Robbery', 'Aggravated assault',
       'Property crime total', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Violent Crime rate',
       'Murder and nonnegligent manslaughter rate', 'Legacy rape rate /1',
       'Revised rape rate /2', 'Robbery rate', 'Aggravated assault rate',
       'Property crime rate', 'Burglary rate', 'Larceny-theft rate',
       'Motor vehicle theft rate'],
      dtype='object')

In [18]:
# nsmallest , nlargest
df1['Robbery rate'].nlargest()

31    272.7
32    263.7
21    258.4
30    256.3
33    256.0
Name: Robbery rate, dtype: float64

In [19]:
df1

,Year,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
0,1960,179323175,288460,9110,17190,NaN,107840,154320,3095700,912100,...,160.9,5.1,9.6,NaN,60.1,86.1,1726.3,508.6,1034.7,183.0
1,1961,182992000,289390,8740,17220,NaN,106670,156760,3198600,949600,...,158.1,4.8,9.4,NaN,58.3,85.7,1747.9,518.9,1045.4,183.6
2,1962,185771000,301510,8530,17550,NaN,110860,164570,3450700,994300,...,162.3,4.6,9.4,NaN,59.7,88.6,1857.5,535.2,1124.8,197.4
3,1963,188483000,316970,8640,17650,NaN,116470,174210,3792500,1086400,...,168.2,4.6,9.4,NaN,61.8,92.4,2012.1,576.4,1219.1,216.6
4,1964,191141000,364220,9360,21420,NaN,130390,203050,4200400,1213200,...,190.6,4.9,11.2,NaN,68.2,106.2,2197.5,634.7,1315.5,247.4
5,1965,193526000,387390,9960,23410,NaN,138690,215330,4352000,1282500,...,200.2,5.1,12.1,NaN,71.7,111.3,2248.8,662.7,1329.3,256.8
6,1966,195576000,430180,11040,25820,NaN,157990,235330,4793300,1410100,...,220.0,5.6,13.2,NaN,80.8,120.3,2450.9,721.0,1442.9,286.9
7,1967,197457000,499930,12240,27620,NaN,202910,257160,5403500,1632100,...,253.2,6.2,14.0,NaN,102.8,130.2,2736.5,826.6,1575.8,334.1
8,1968,199399000,595010,13800,31670,NaN,262840,286700,6125200,1858900,...,298.4,6.9,15.9,NaN,131.8,143.8,3071.8,932.3,1746.6,393.0
9,1969,201385000,661870,14760,37170,NaN,298850,311090,6749000,1981900,...,328.7,7.3,18.5,NaN,148.4,154.5,3351.3,984.1,1930.9,436.2
10,1970,203235298,738820,16000,37990,NaN,349860,334970,7359200,2205000,...,363.5,7.9,18.7,NaN,172.1,164.8,3621.0,1084.9,2079.3,456.8
11,1971,206212000,816500,17780,42260,NaN,387700,368760,7771700,2399300,...,396.0,8.6,20.5,NaN,188.0,178.8,3768.8,1163.5,2145.5,459.8
12,1972,208230000,834900,18670,46850,NaN,376290,393090,7413900,2375500,...,401.0,9.0,22.5,NaN,180.7,188.8,3560.4,1140.8,1993.6,426.1
13,1973,209851000,875910,19640,51400,NaN,384220,420650,7842200,2565500,...,417.4,9.4,24.5,NaN,183.1,200.5,3737.0,1222.5,2071.9,442.6
14,1974,211392000,974720,20710,55400,NaN,442400,456210,9278700,3039200,...,461.1,9.8,26.2,NaN,209.3,215.8,4389.3,1437.7,2489.5,462.2
15,1975,213124000,1039710,20510,56090,NaN,470500,492620,10252700,3265300,...,487.8,9.6,26.3,NaN,220.8,231.1,4810.7,1532.1,2804.8,473.7
16,1976,214659000,1004210,18780,57080,NaN,427810,500530,10345500,3108700,...,467.8,8.7,26.6,NaN,199.3,233.2,4819.5,1448.2,2921.3,450.0
17,1977,216332000,1029580,19120,63500,NaN,412610,534350,9955000,3071500,...,475.9,8.8,29.4,NaN,190.7,247.0,4601.7,1419.8,2729.9,451.9
18,1978,218059000,1085550,19560,67610,NaN,426930,571460,10123400,3128300,...,497.8,9.0,31.0,NaN,195.8,262.1,4642.5,1434.6,2747.4,460.5
19,1979,220099000,1208030,21460,76390,NaN,480700,629480,11041500,3327700,...,548.9,9.8,34.7,NaN,218.4,286.0,5016.6,1511.9,2999.1,505.6
20,1980,225349264,1344520,23040,82990,NaN,565840,672650,12063700,3795200,...,596.6,10.2,36.8,NaN,251.1,298.5,5353.3,1684.1,3167.0,502.2
21,1981,229465714,1361820,22520,82500,NaN,592910,663900,12061900,3779700,...,593.5,9.8,36.0,NaN,258.4,289.3,5256.5,1647.2,3135.3,474.1
22,1982,231664458,1322390,21010,78770,NaN,553130,669480,11652000,3447100,...,570.8,9.1,34.0,NaN,238.8,289.0,5029.7,1488.0,3083.1,458.6
23,1983,233791994,1258087,19308,78918,NaN,506567,653294,10850543,3129851,...,538.1,8.3,33.8,NaN,216.7,279.4,4641.1,1338.7,2871.3,431.1
24,1984,235824902,1273282,18692,84233,NaN,485008,685349,10608473,2984434,...,539.9,7.9,35.7,NaN,205.7,290.6,4498.5,1265.5,2795.2,437.7
25,1985,237923795,1327767,18976,87671,NaN,497874,723246,11102590,3073348,...,558.1,8.0,36.8,NaN,209.3,304.0,4666.4,1291.7,2911.2,463.5
26,1986,240132887,1489169,20613,91459,NaN,542775,834322,11722700,3241410,...,620.1,8.6,38.1,NaN,226.0,347.4,4881.8,1349.8,3022.1,509.8
27,1987,242288918,1483999,20096,91111,NaN,517704,855088,12024709,3236184,...,612.5,8.3,37.6,NaN,213.7,352.9,4963.0,1335.7,3095.4,531.9
28,1988,244498982,1566221,20675,92486,NaN,542968,910092,12356865,3218077,...,640.6,8.5,37.8,NaN,222.1,372.2,5054.0,1316.2,3151.7,586.1
29,1989,246819230,1646037,21500,94504,NaN,578326,951707,12605412,3168170,...,666.9,8.7,38.3,NaN,234.3,385.6,5107.1,1283.6,3189.6,634.0
30,1990,249464396,1820127,23438,102555,NaN,639271,1054863,12655486,3073909,...,729.6,9.4,41.1,NaN,256.3,422.9,5073.1,1232.2,3185.1,655.8
31,1991,252153092,1911767,24703,106593,NaN,687732,1092739,12961116,3157150,...,758.2,9.8,42.3,NaN,272.7,433.4,5140.2,1252.1,3229.1,659.0
32,1992,255029699,1932274,23760,109062,NaN,672478,1126974,12505917,2979884,...,757.7,9.3,42.8,NaN,263.7,441.9,4903.7,1168.4,3103.6,631.6
33,1993,257782608,1926017,24526,106014,NaN,659870,1135607,12218777,2834808,...,747.1,9.5,41.1,NaN,256.0,440.5,4740.0,1099.7,3033.9,606.3
34,1994,260327021,1857670,23326,102216,NaN,618949,1113179,12131873,2712774,...,713.6,9.0,39.3,NaN,237.8,427.6,4660.2,1042.1,3026.9,591.3
35,1995,262803276,1798792,21606,97470,NaN,580509,1099207,12063935,2593784,...,684.5,8.2,37.1,NaN,220.9,418.3,4590.5,987.0,3043.2,560.3
36,1996,265228572,1688540,19645,96252,NaN,535594,1037049,11805323,2506400,...,636.6,7.4,36.3,NaN,201.9,391.0,4451.0,945.0,2980.3,525.7
37,1997,267783607,1636096,18208,96153,NaN,498534,1023201,11558475,2460526,...,611.0,6.8,35.9,NaN,186.2,382.1,4316.3,918.8,2891.8,505.7
38,1998,270248003,1533887,16974,93144,NaN,447186,976583,10951827,2332735,...,567.6,6.3,34.5,NaN,165.5,361.4,4052.5,863.2,2729.5,459.9
39,1999,272690813,1426044,15522,89411,NaN,409371,911740,10208334,2100739,...,523.0,5.7,32.8,NaN,150.1,334.3,3743.6,770.4,2550.7,422.5
40,2000,281421906,1425486,15586,90178,NaN,408016,911706,10182584,2050992,...,506.5,5.5,32.0,NaN,145.0,324.0,3618.3,728.8,2477.3,412.2
41,2001,285317559,1439480,16037,90863,NaN,423557,909023,10437189,2116531,...,504.5,5.6,31.8,NaN,148.5,318.6,3658.1,741.8,2485.7,430.5
42,2002,287973924,1423677,16229,95235,NaN,420806,891407,10455277,2151252,...,494.4,5.6,33.1,NaN,146.1,309.5,3630.6,747.0,2450.7,432.9
43,2003,290788976,1383676,16528,93883,NaN,414235,859030,10442862,2154834,...,475.8,5.7,32.3,NaN,142.5,295.4,3591.2,741.0,2416.5,433.7
44,2004,293656842,1360088,16148,95089,NaN,401470,847381,10319386,2144446,...,463.2,5.5,32.4,NaN,136.7,288.6,3514.1,730.3,2362.3,421.5
45,2005,296507061,1390745,16740,94347,NaN,417438,862220,10174754,2155448,...,469.0,5.6,31.8,NaN,140.8,290.8,3431.5,726.9,2287.8,416.8
46,2006,299398484,1435123,17309,94472,NaN,449246,874096,10019601,2194993,...,479.3,5.8,31.6,NaN,150.0,292.0,3346.6,733.1,2213.2,400.2
47,2007,301621157,1422970,17128,92160,NaN,447324,866358,9882212,2190198,...,471.8,5.7,30.6,NaN,148.3,287.2,3276.4,726.1,2185.4,364.9
48,2008,304059724,1394461,16465,90750,NaN,443563,843683,9774152,2228887,...,458.6,5.4,29.8,NaN,145.9,277.5,3214.6,733.0,2166.1,315.4
49,2009,307006550,1325896,15399,89241,NaN,408742,812514,9337060,2203313,...,431.9,5.0,29.1,NaN,133.1,264.7,3041.3,717.7,2064.5,259.2
50,2010,309330219,1251248,14722,85593,NaN,369089,781844,9112625,2168459,...,404.5,4.8,27.7,NaN,119.3,252.8,2945.9,701.0,2005.8,239.1
51,2011,311587816,1206031,14661,84175,NaN,354772,752423,9052743,2185140,...,387.1,4.7,27.0,NaN,113.9,241.5,2905.4,701.3,1974.1,230.0
52,2012,313873685,1217067,14866,85141,NaN,355051,762009,9001992,2109932,...,387.8,4.7,27.1,NaN,113.1,242.8,2868.0,672.2,1965.4,230.4
53,2013,316497531,1199684,14319,82109,113695.0,345095,726575,8650761,1931835,...,379.1,4.5,25.9,35.9,109.0,229.6,2733.3,610.4,1901.6,221.3
54,2014,318857056,1197987,14249,84041,116645.0,325802,741291,8277829,1729806,...,375.7,4.5,26.4,36.6,102.2,232.5,2596.1,542.5,1837.3,216.2

In [20]:
df1['Robbery rate'].dtype

dtype('float64')

In [21]:
# where method
pd.set_option('display.max_columns',None)
where_result = df1.where(df1['Robbery rate']>100)
where_result.head(10)

,Year,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,Larceny-theft,Motor vehicle theft,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1967.0,197457000.0,499930.0,12240.0,27620.0,NaN,202910.0,257160.0,5403500.0,1632100.0,3111600.0,659800.0,253.2,6.2,14.0,NaN,102.8,130.2,2736.5,826.6,1575.8,334.1
8,1968.0,199399000.0,595010.0,13800.0,31670.0,NaN,262840.0,286700.0,6125200.0,1858900.0,3482700.0,783600.0,298.4,6.9,15.9,NaN,131.8,143.8,3071.8,932.3,1746.6,393.0
9,1969.0,201385000.0,661870.0,14760.0,37170.0,NaN,298850.0,311090.0,6749000.0,1981900.0,3888600.0,878500.0,328.7,7.3,18.5,NaN,148.4,154.5,3351.3,984.1,1930.9,436.2

In [27]:
#query Method
query_result = df1.query('Year > 100')
query_result

,Year,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,Larceny-theft,Motor vehicle theft,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
0,1960,179323175,288460,9110,17190,NaN,107840,154320,3095700,912100,1855400,328200,160.9,5.1,9.6,NaN,60.1,86.1,1726.3,508.6,1034.7,183.0
1,1961,182992000,289390,8740,17220,NaN,106670,156760,3198600,949600,1913000,336000,158.1,4.8,9.4,NaN,58.3,85.7,1747.9,518.9,1045.4,183.6
2,1962,185771000,301510,8530,17550,NaN,110860,164570,3450700,994300,2089600,366800,162.3,4.6,9.4,NaN,59.7,88.6,1857.5,535.2,1124.8,197.4
3,1963,188483000,316970,8640,17650,NaN,116470,174210,3792500,1086400,2297800,408300,168.2,4.6,9.4,NaN,61.8,92.4,2012.1,576.4,1219.1,216.6
4,1964,191141000,364220,9360,21420,NaN,130390,203050,4200400,1213200,2514400,472800,190.6,4.9,11.2,NaN,68.2,106.2,2197.5,634.7,1315.5,247.4
5,1965,193526000,387390,9960,23410,NaN,138690,215330,4352000,1282500,2572600,496900,200.2,5.1,12.1,NaN,71.7,111.3,2248.8,662.7,1329.3,256.8
6,1966,195576000,430180,11040,25820,NaN,157990,235330,4793300,1410100,2822000,561200,220.0,5.6,13.2,NaN,80.8,120.3,2450.9,721.0,1442.9,286.9
7,1967,197457000,499930,12240,27620,NaN,202910,257160,5403500,1632100,3111600,659800,253.2,6.2,14.0,NaN,102.8,130.2,2736.5,826.6,1575.8,334.1
8,1968,199399000,595010,13800,31670,NaN,262840,286700,6125200,1858900,3482700,783600,298.4,6.9,15.9,NaN,131.8,143.8,3071.8,932.3,1746.6,393.0
9,1969,201385000,661870,14760,37170,NaN,298850,311090,6749000,1981900,3888600,878500,328.7,7.3,18.5,NaN,148.4,154.5,3351.3,984.1,1930.9,436.2
10,1970,203235298,738820,16000,37990,NaN,349860,334970,7359200,2205000,4225800,928400,363.5,7.9,18.7,NaN,172.1,164.8,3621.0,1084.9,2079.3,456.8
11,1971,206212000,816500,17780,42260,NaN,387700,368760,7771700,2399300,4424200,948200,396.0,8.6,20.5,NaN,188.0,178.8,3768.8,1163.5,2145.5,459.8
12,1972,208230000,834900,18670,46850,NaN,376290,393090,7413900,2375500,4151200,887200,401.0,9.0,22.5,NaN,180.7,188.8,3560.4,1140.8,1993.6,426.1
13,1973,209851000,875910,19640,51400,NaN,384220,420650,7842200,2565500,4347900,928800,417.4,9.4,24.5,NaN,183.1,200.5,3737.0,1222.5,2071.9,442.6
14,1974,211392000,974720,20710,55400,NaN,442400,456210,9278700,3039200,5262500,977100,461.1,9.8,26.2,NaN,209.3,215.8,4389.3,1437.7,2489.5,462.2
15,1975,213124000,1039710,20510,56090,NaN,470500,492620,10252700,3265300,5977700,1009600,487.8,9.6,26.3,NaN,220.8,231.1,4810.7,1532.1,2804.8,473.7
16,1976,214659000,1004210,18780,57080,NaN,427810,500530,10345500,3108700,6270800,966000,467.8,8.7,26.6,NaN,199.3,233.2,4819.5,1448.2,2921.3,450.0
17,1977,216332000,1029580,19120,63500,NaN,412610,534350,9955000,3071500,5905700,977700,475.9,8.8,29.4,NaN,190.7,247.0,4601.7,1419.8,2729.9,451.9
18,1978,218059000,1085550,19560,67610,NaN,426930,571460,10123400,3128300,5991000,1004100,497.8,9.0,31.0,NaN,195.8,262.1,4642.5,1434.6,2747.4,460.5
19,1979,220099000,1208030,21460,76390,NaN,480700,629480,11041500,3327700,6601000,1112800,548.9,9.8,34.7,NaN,218.4,286.0,5016.6,1511.9,2999.1,505.6
20,1980,225349264,1344520,23040,82990,NaN,565840,672650,12063700,3795200,7136900,1131700,596.6,10.2,36.8,NaN,251.1,298.5,5353.3,1684.1,3167.0,502.2
21,1981,229465714,1361820,22520,82500,NaN,592910,663900,12061900,3779700,7194400,1087800,593.5,9.8,36.0,NaN,258.4,289.3,5256.5,1647.2,3135.3,474.1
22,1982,231664458,1322390,21010,78770,NaN,553130,669480,11652000,3447100,7142500,1062400,570.8,9.1,34.0,NaN,238.8,289.0,5029.7,1488.0,3083.1,458.6
23,1983,233791994,1258087,19308,78918,NaN,506567,653294,10850543,3129851,6712759,1007933,538.1,8.3,33.8,NaN,216.7,279.4,4641.1,1338.7,2871.3,431.1
24,1984,235824902,1273282,18692,84233,NaN,485008,685349,10608473,2984434,6591874,1032165,539.9,7.9,35.7,NaN,205.7,290.6,4498.5,1265.5,2795.2,437.7
25,1985,237923795,1327767,18976,87671,NaN,497874,723246,11102590,3073348,6926380,1102862,558.1,8.0,36.8,NaN,209.3,304.0,4666.4,1291.7,2911.2,463.5
26,1986,240132887,1489169,20613,91459,NaN,542775,834322,11722700,3241410,7257153,1224137,620.1,8.6,38.1,NaN,226.0,347.4,4881.8,1349.8,3022.1,509.8
27,1987,242288918,1483999,20096,91111,NaN,517704,855088,12024709,3236184,7499851,1288674,612.5,8.3,37.6,NaN,213.7,352.9,4963.0,1335.7,3095.4,531.9
28,1988,244498982,1566221,20675,92486,NaN,542968,910092,12356865,3218077,7705872,1432916,640.6,8.5,37.8,NaN,222.1,372.2,5054.0,1316.2,3151.7,586.1
29,1989,246819230,1646037,21500,94504,NaN,578326,951707,12605412,3168170,7872442,1564800,666.9,8.7,38.3,NaN,234.3,385.6,5107.1,1283.6,3189.6,634.0
30,1990,249464396,1820127,23438,102555,NaN,639271,1054863,12655486,3073909,7945670,1635907,729.6,9.4,41.1,NaN,256.3,422.9,5073.1,1232.2,3185.1,655.8
31,1991,252153092,1911767,24703,106593,NaN,687732,1092739,12961116,3157150,8142228,1661738,758.2,9.8,42.3,NaN,272.7,433.4,5140.2,1252.1,3229.1,659.0
32,1992,255029699,1932274,23760,109062,NaN,672478,1126974,12505917,2979884,7915199,1610834,757.7,9.3,42.8,NaN,263.7,441.9,4903.7,1168.4,3103.6,631.6
33,1993,257782608,1926017,24526,106014,NaN,659870,1135607,12218777,2834808,7820909,1563060,747.1,9.5,41.1,NaN,256.0,440.5,4740.0,1099.7,3033.9,606.3
34,1994,260327021,1857670,23326,102216,NaN,618949,1113179,12131873,2712774,7879812,1539287,713.6,9.0,39.3,NaN,237.8,427.6,4660.2,1042.1,3026.9,591.3
35,1995,262803276,1798792,21606,97470,NaN,580509,1099207,12063935,2593784,7997710,1472441,684.5,8.2,37.1,NaN,220.9,418.3,4590.5,987.0,3043.2,560.3
36,1996,265228572,1688540,19645,96252,NaN,535594,1037049,11805323,2506400,7904685,1394238,636.6,7.4,36.3,NaN,201.9,391.0,4451.0,945.0,2980.3,525.7
37,1997,267783607,1636096,18208,96153,NaN,498534,1023201,11558475,2460526,7743760,1354189,611.0,6.8,35.9,NaN,186.2,382.1,4316.3,918.8,2891.8,505.7
38,1998,270248003,1533887,16974,93144,NaN,447186,976583,10951827,2332735,7376311,1242781,567.6,6.3,34.5,NaN,165.5,361.4,4052.5,863.2,2729.5,459.9
39,1999,272690813,1426044,15522,89411,NaN,409371,911740,10208334,2100739,6955520,1152075,523.0,5.7,32.8,NaN,150.1,334.3,3743.6,770.4,2550.7,422.5
40,2000,281421906,1425486,15586,90178,NaN,408016,911706,10182584,2050992,6971590,1160002,506.5,5.5,32.0,NaN,145.0,324.0,3618.3,728.8,2477.3,412.2
41,2001,285317559,1439480,16037,90863,NaN,423557,909023,10437189,2116531,7092267,1228391,504.5,5.6,31.8,NaN,148.5,318.6,3658.1,741.8,2485.7,430.5
42,2002,287973924,1423677,16229,95235,NaN,420806,891407,10455277,2151252,7057379,1246646,494.4,5.6,33.1,NaN,146.1,309.5,3630.6,747.0,2450.7,432.9
43,2003,290788976,1383676,16528,93883,NaN,414235,859030,10442862,2154834,7026802,1261226,475.8,5.7,32.3,NaN,142.5,295.4,3591.2,741.0,2416.5,433.7
44,2004,293656842,1360088,16148,95089,NaN,401470,847381,10319386,2144446,6937089,1237851,463.2,5.5,32.4,NaN,136.7,288.6,3514.1,730.3,2362.3,421.5
45,2005,296507061,1390745,16740,94347,NaN,417438,862220,10174754,2155448,6783447,1235859,469.0,5.6,31.8,NaN,140.8,290.8,3431.5,726.9,2287.8,416.8
46,2006,299398484,1435123,17309,94472,NaN,449246,874096,10019601,2194993,6626363,1198245,479.3,5.8,31.6,NaN,150.0,292.0,3346.6,733.1,2213.2,400.2
47,2007,301621157,1422970,17128,92160,NaN,447324,866358,9882212,2190198,6591542,1100472,471.8,5.7,30.6,NaN,148.3,287.2,3276.4,726.1,2185.4,364.9
48,2008,304059724,1394461,16465,90750,NaN,443563,843683,9774152,2228887,6586206,959059,458.6,5.4,29.8,NaN,145.9,277.5,3214.6,733.0,2166.1,315.4
49,2009,307006550,1325896,15399,89241,NaN,408742,812514,9337060,2203313,6338095,795652,431.9,5.0,29.1,NaN,133.1,264.7,3041.3,717.7,2064.5,259.2
50,2010,309330219,1251248,14722,85593,NaN,369089,781844,9112625,2168459,6204601,739565,404.5,4.8,27.7,NaN,119.3,252.8,2945.9,701.0,2005.8,239.1
51,2011,311587816,1206031,14661,84175,NaN,354772,752423,9052743,2185140,6151095,716508,387.1,4.7,27.0,NaN,113.9,241.5,2905.4,701.3,1974.1,230.0
52,2012,313873685,1217067,14866,85141,NaN,355051,762009,9001992,2109932,6168874,723186,387.8,4.7,27.1,NaN,113.1,242.8,2868.0,672.2,1965.4,230.4
53,2013,316497531,1199684,14319,82109,113695.0,345095,726575,8650761,1931835,6018632,700294,379.1,4.5,25.9,35.9,109.0,229.6,2733.3,610.4,1901.6,221.3
54,2014,318857056,1197987,14249,84041,116645.0,325802,741291,8277829,1729806,5858496,689527,375.7,4.5,26.4,36.6,102.2,232.5,2596.1,542.5,1837.3,216.2

In [31]:
df2 = (df1.query('Year > 1980')).copy()
df2.head()

,Year,Population,Violent crime total,Murder and nonnegligent Manslaughter,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault,Property crime total,Burglary,Larceny-theft,Motor vehicle theft,Violent Crime rate,Murder and nonnegligent manslaughter rate,Legacy rape rate /1,Revised rape rate /2,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate
21,1981,229465714,1361820,22520,82500,NaN,592910,663900,12061900,3779700,7194400,1087800,593.5,9.8,36.0,NaN,258.4,289.3,5256.5,1647.2,3135.3,474.1
22,1982,231664458,1322390,21010,78770,NaN,553130,669480,11652000,3447100,7142500,1062400,570.8,9.1,34.0,NaN,238.8,289.0,5029.7,1488.0,3083.1,458.6
23,1983,233791994,1258087,19308,78918,NaN,506567,653294,10850543,3129851,6712759,1007933,538.1,8.3,33.8,NaN,216.7,279.4,4641.1,1338.7,2871.3,431.1
24,1984,235824902,1273282,18692,84233,NaN,485008,685349,10608473,2984434,6591874,1032165,539.9,7.9,35.7,NaN,205.7,290.6,4498.5,1265.5,2795.2,437.7
25,1985,237923795,1327767,18976,87671,NaN,497874,723246,11102590,3073348,6926380,1102862,558.1,8.0,36.8,NaN,209.3,304.0,4666.4,1291.7,2911.2,463.5

In [34]:
df_columns = list(df1.columns)

In [35]:
df_columns

['Year',
 'Population',
 'Violent crime total',
 'Murder and nonnegligent Manslaughter',
 'Legacy rape /1',
 'Revised rape /2',
 'Robbery',
 'Aggravated assault',
 'Property crime total',
 'Burglary',
 'Larceny-theft',
 'Motor vehicle theft',
 'Violent Crime rate',
 'Murder and nonnegligent manslaughter rate',
 'Legacy rape rate /1',
 'Revised rape rate /2',
 'Robbery rate',
 'Aggravated assault rate',
 'Property crime rate',
 'Burglary rate',
 'Larceny-theft rate',
 'Motor vehicle theft rate']

In [37]:
print(df1.median())

Year                                         1.987000e+03
Population                                   2.422889e+08
Violent crime total                          1.322390e+06
Murder and nonnegligent Manslaughter         1.730900e+04
Legacy rape /1                               8.423300e+04
Revised rape /2                              1.151700e+05
Robbery                                      4.235570e+05
Aggravated assault                           7.412910e+05
Property crime total                         1.018258e+07
Burglary                                     2.332735e+06
Larceny-theft                                6.591874e+06
Motor vehicle theft                          1.032165e+06
Violent Crime rate                           4.759000e+02
Murder and nonnegligent manslaughter rate    7.300000e+00
Legacy rape rate /1                          3.160000e+01
Revised rape rate /2                         3.625000e+01
Robbery rate                                 1.721000e+02
Aggravated assault rate                      2.860000e+02
Property crime rate                          3.737000e+03
Burglary rate                                9.450000e+02
Larceny-theft rate                           2.477300e+03
Motor vehicle theft rate                     4.362000e+02
dtype: float64

In [39]:
# group by 
data = {
    'Name':['John','Alice','Bob','Alice','John'],
    'Age':[30,25,35,25,20],
    'Salary':[30000,24000,19000,18000,35000]
}
df = pd.DataFrame(data)
df.head()

    Name  Age  Salary
0   John   30   30000
1  Alice   25   24000
2    Bob   35   19000
3  Alice   25   18000
4   John   20   35000

In [41]:
grouped = df.groupby('Name').mean()
grouped

        Age   Salary
Name
Alice  25.0  21000.0
Bob    35.0  19000.0
John   25.0  32500.0