#### Setting and Resetting the Index

Setting the index in pandas allows you to specify which column(s) should be used as the index of the DataFrame. Resetting the index, on the other hand, moves the index back into the DataFrame as a column and creates a default integer index.

In [21]:
import pandas as pd

# Creating a sample dataframe
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Setting 'A' column as the index
df.set_index('A', inplace=True)
print("\nDataFrame after setting index:")
print(df)

# Resetting the index
df.reset_index(inplace=True)
print("\nDataFrame after resetting index:")
print(df)

Original DataFrame:
   A  B
0  1  4
1  2  5
2  3  6

DataFrame after setting index:
   B
A
1  4
2  5
3  6

DataFrame after resetting index:
   A  B
0  1  4
1  2  5
2  3  6

#### Renaming the Index and Columns Labels

You can rename index and column labels in pandas using the rename() method.

In [22]:
# Renaming index and column labels
df.rename(index={1: 'one', 2: 'two', 3: 'three'}, columns={'A': 'Alpha', 'B': 'Beta'}, inplace=True)
print("\nDataFrame after renaming:")
print(df)

DataFrame after renaming:
     Alpha  Beta
0        1     4
one      2     5
two      3     6

#### Retrieving Data Using .loc and .iloc
The .loc[] is used for label-based indexing while .iloc[] is used for positional indexing.

##### loc: Label-based Indexing

loc is primarily used for label-based indexing, which means you can use the row and column labels to access data. It accepts a label-based index or a boolean array as input.

In [23]:
import pandas as pd

# Creating a sample DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df1 = pd.DataFrame(data, index=['one', 'two', 'three'])

# Accessing a single row by label
print(df1.loc['one'])

# Accessing a single value by label
print(df1.loc['one', 'A'])

# Accessing multiple rows and columns by labels
print(df1.loc[['one', 'three'], ['A', 'B']])

# Using boolean array for selection
# print(df1.loc[df['A'] > 1])

A    1
B    4
Name: one, dtype: int64
1
       A  B
one    1  4
three  3  6

##### iloc: Position-based Indexing

iloc is used for position-based indexing, where you can use integers to access data based on its position in the DataFrame. It accepts integer-based index or a boolean array as input.

In [24]:
import pandas as pd

# Creating a sample DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df2 = pd.DataFrame(data)

# Accessing a single row by integer index
print(df2.iloc[0])

# Accessing a single value by integer index
print(df2.iloc[0, 1])  # Row 0, Column 1

# Accessing multiple rows and columns by integer indexes
print(df2.iloc[[0, 2], [0, 1]])

# # Using boolean array for selection
# print(df2.iloc[df['A'] > 1])

A    1
B    4
Name: 0, dtype: int64
4
   A  B
0  1  4
2  3  6

In [25]:
# Retrieving data using .loc[] and .iloc[]
print("\nUsing .loc[]:")
print(df.loc['one'])

print("\nUsing .iloc[]:")
print(df.iloc[0])

Using .loc[]:
Alpha    2
Beta     5
Name: one, dtype: int64

Using .iloc[]:
Alpha    1
Beta     4
Name: 0, dtype: int64

##### Key Differences:
-   Input: loc uses labels, while iloc uses integer positions.
-   Slicing: loc includes both start and stop indices in the slice, whereas iloc follows Python convention and includes the start index but excludes the stop index.
-   Speed: iloc is generally faster as it operates based on integer positions.

#### Creating Random Sample with the sample() Method
You can create a random sample of rows or columns using the sample() method.

In [26]:
# Creating a random sample
sample = df.sample(n=2)  # Get 2 random rows
print("\nRandom sample:")
print(sample)

Random sample:
     Alpha  Beta
0        1     4
one      2     5

#### Using smallest()/largest() Method
These methods return the n smallest or largest values from a Series.

In [27]:
# Using smallest/largest method
smallest = df['Beta'].nsmallest(2)
largest = df['Beta'].nlargest(2)

print("\nSmallest values:")
print(smallest)

print("\nLargest values:")
print(largest)

Smallest values:
0      4
one    5
Name: Beta, dtype: int64

Largest values:
two    6
one    5
Name: Beta, dtype: int64

#### Extraction Using the where() Method and query() Method
The where() method is used to conditionally replace values, while the query() method allows you to filter rows according to a given condition.

In [28]:
# Extraction using where method
where_result = df.where(df['Beta'] > 4)
print("\nExtraction using where method:")
print(where_result)

# Extraction using query method
query_result = df.query("Alpha > 1")
print("\nExtraction using query method:")
print(query_result)

Extraction using where method:
     Alpha  Beta
0      NaN   NaN
one    2.0   5.0
two    3.0   6.0

Extraction using query method:
     Alpha  Beta
one      2     5
two      3     6

#### Extraction Using the apply() Method
The apply() method applies a function along any axis of the DataFrame.

In [29]:
# Extraction using apply method
apply_result = df.apply(lambda x: x * 2)
print("\nExtraction using apply method:")
print(apply_result)

Extraction using apply method:
     Alpha  Beta
0        2     8
one      4    10
two      6    12

#### Extraction Using the copy() Method
The copy() method is used to make a copy of the DataFrame.

In [30]:
# Extraction using copy method
copy_df = df.copy()
print("\nCopy of DataFrame:")
print(copy_df)

Copy of DataFrame:
     Alpha  Beta
0        1     4
one      2     5
two      3     6

#### Understanding the Data by Using Mean, Median, Efficient, and Cumulative Methods
Pandas provides methods to calculate mean, median, and cumulative values efficiently.

In [31]:
# Calculating mean, median, efficient, and cumulative values
print("\nMean:")
print(df.mean())

print("\nMedian:")
print(df.median())

print("\nEfficient (summary statistics):")
print(df.describe())

print("\nCumulative sum:")
print(df.cumsum())

Mean:
Alpha    2.0
Beta     5.0
dtype: float64

Median:
Alpha    2.0
Beta     5.0
dtype: float64

Efficient (summary statistics):
       Alpha  Beta
count    3.0   3.0
mean     2.0   5.0
std      1.0   1.0
min      1.0   4.0
25%      1.5   4.5
50%      2.0   5.0
75%      2.5   5.5
max      3.0   6.0

Cumulative sum:
     Alpha  Beta
0        1     4
one      3     9
two      6    15

#### Use of Groupby, Crosstab, and Pivot Tables

##### Groupby:
The groupby() function in pandas is used to split the data into groups based on some criteria and then apply a function (such as aggregation, transformation, or filtering) to each group independently. It is one of the most powerful and commonly used functionalities in pandas for data analysis.

##### Parameters:

-   by: Specifies the criteria for grouping. It can be a column name, a list of column names, a function, or a dictionary mapping.
-   axis: Specifies the axis to group along (0 for rows, 1 for columns).
-   level: If the axis is a MultiIndex (hierarchical), group by a particular level or levels.
-   as_index: Whether to return the grouped column(s) as index.
-   sort: Whether to sort the resulting groups by group keys.
-   group_keys: Whether to include the group keys in the resulting index.
-   observed: This is only relevant for categorical data and controls whether to include all observed values for categorical data types in the result, even if they are not present in the data.
-   dropna: Whether to exclude NA/null values when grouping.

In [33]:
#DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=<no_default>, observed=False, dropna=True)

import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'Alice', 'John'],
        'Age': [30, 25, 35, 25, 30],
        'Salary': [50000, 60000, 55000, 60000, 52000]}

df = pd.DataFrame(data)

# Grouping by 'Name' and calculating mean salary for each name
grouped = df.groupby('Name').mean()

print(grouped)

        Age   Salary
Name
Alice  25.0  60000.0
Bob    35.0  55000.0
John   30.0  51000.0

#### Pivot Table:
A pivot table is a way to summarize and aggregate data in a DataFrame. It allows you to rearrange and reshape data by applying one or more aggregation functions to the values in the DataFrame.

- index: The column to use as the index of the pivot table.
- columns: The column to use as the columns of the pivot table.
- aggfunc: The function to use for aggregation. It can be a string representing a function name (e.g., 'mean', 'sum', 'count') or a function object.
- fill_value: The value to replace missing values with.
- margins: Whether to add row/column margins (subtotals).
- dropna: Whether to exclude NA/null values.
- margins_name: Name of the row/column that contains the margins.
- observed: This is only relevant for categorical data and controls whether to include all observed values for categorical data types in the result, even if they are not present in the data.

In [34]:
# Creating a pivot table to show average salary by age and name
pivot_table = df.pivot_table(values='Salary', index='Age', columns='Name', aggfunc='mean')

print(pivot_table)

Name    Alice      Bob     John
Age
25    60000.0      NaN      NaN
30        NaN      NaN  51000.0
35        NaN  55000.0      NaN

#### Crosstab:
Crosstab computes a cross-tabulation of two or more factors. It's a useful way to summarize and explore the relationship between categorical variables.

-   index: Values to group by in the rows.
-   columns: Values to group by in the columns.
-   values: Optional. Array-like. The values to aggregate according to the factors.
-   rownames: Names to use for the row labels.
-   colnames: Names to use for the column labels.
-   aggfunc: Aggregation function to apply when more than one value appears in a group. If not specified, the default behavior is to count the occurrences.
-   margins: Whether to add row/column margins (subtotals).
-   margins_name: Name of the row/column that contains the margins.
-   dropna: Whether to exclude NA/null values.
-   normalize: Whether to compute row-wise or column-wise proportions.

In [35]:
# Creating a crosstab to show the frequency of each name at each age
crosstab_result = pd.crosstab(df['Age'], df['Name'])

print(crosstab_result)

Name  Alice  Bob  John
Age
25        2    0     0
30        0    0     2
35        0    1     0