In [4]:
import numpy as np 
import pandas as pd
from scipy.stats import chi2_contingency

In [5]:
np.random.seed(42)

# Marital qualification data generation 
marital_statuses = ['never married','married','divorced','widowed']
qualifications = ['middle school','high school','bachelors','masters','phd']
#set the number of individuals
num_individuals = 200
#data generation
data = {
    'MaritalStatus': np.random.choice(marital_statuses, num_individuals),
    'Qualification':np.random.choice(qualifications, num_individuals)
}

In [7]:
# Creating dataframe
df = pd.DataFrame(data)

In [10]:
df.head()

   MaritalStatus  Qualification
0       divorced  middle school
1        widowed        masters
2  never married            phd
3       divorced        masters
4       divorced            phd

In [11]:
#create contingency
contingency_table = pd.crosstab(df['MaritalStatus'],df['Qualification'])

In [12]:
chi2 , p , dof ,expected = chi2_contingency(contingency_table)

In [13]:
print(f'chi square value: {chi2}')
print(f'P value:{p}')
print(f'degree of freedom: {dof}')
print('The expected values')
print(expected)

chi square value: 20.402509097049297
P value:0.059844764537951144
degree of freedom: 12
The expected values
[[11.88  7.83 12.42 13.77  8.1 ]
 [10.12  6.67 10.58 11.73  6.9 ]
 [10.12  6.67 10.58 11.73  6.9 ]
 [11.88  7.83 12.42 13.77  8.1 ]]

In [14]:
#define the significance level
alpha = 0.05

if p < alpha:
    print("Reject Null Hypothesis")
else:
    print("Fail to Reject Null Hypothesis")

Fail to Reject Null Hypothesis