In [25]:
import pandas as pd 
import numpy as np

In [26]:
lpd = pd.read_csv(r'D:\DS WorkFlow\Data Is Good Class Files\Batches\2023-Classes\25th Feb Batch\train_Loan.csv')

In [27]:
lpd.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [28]:
lpd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [29]:
lpd.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [30]:
lpd1 = lpd.copy()
lpd2 = lpd.copy()
lpd3 = lpd.copy()
lpd4 = lpd.copy()
lpd5 = lpd.copy()

In [31]:
lpd1.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [32]:
lpd1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [33]:
lpd1.dropna(inplace=True)

In [34]:
lpd1.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [35]:
lpd1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    object
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB

In [36]:
lpd2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [37]:
lpd2['LoanAmount'].isnull().sum()

22

In [38]:
print("sum of loan amount column before missing value handling:",lpd2['LoanAmount'].sum())

sum of loan amount column before missing value handling: 86676.0

In [39]:
print("Number of loan amount column before missing value handling:",lpd2['LoanAmount'].count())

Number of loan amount column before missing value handling: 592

In [40]:
print("Missing Value count in loan amount column before missing value handling:",lpd2['LoanAmount'].isnull().sum())

Missing Value count in loan amount column before missing value handling: 22

In [41]:
print("Total nummber of loan amount column after missing value handling should be:",(592+22))

Total nummber of loan amount column after missing value handling should be: 614

In [42]:
print("handling the missing value with 0")
lpd2['LoanAmount'].fillna(0,inplace=True)

handling the missing value with 0

In [43]:
print("sum of loan amount column after missing value handling:",lpd2['LoanAmount'].sum())

sum of loan amount column after missing value handling: 86676.0

In [44]:
print("Number of loan amount column after missing value handling:",lpd2['LoanAmount'].count())

Number of loan amount column after missing value handling: 614

In [45]:
lpd3.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [46]:
print("sum of loan amount column before missing value handling:",lpd3['LoanAmount'].sum())
print("Number of loan amount column before missing value handling:",lpd3['LoanAmount'].count())
print("Missing Value count in loan amount column before missing value handling:",lpd3['LoanAmount'].isnull().sum())
print("Total nummber of loan amount column after missing value handling should be:",(592+22))
print("handling the missing value with mean method")
lpd3['LoanAmount'].fillna(lpd3['LoanAmount'].mean(),inplace=True)
print("sum of loan amount column after missing value handling:",lpd3['LoanAmount'].sum())
print("Number of loan amount column after missing value handling:",lpd3['LoanAmount'].count())

sum of loan amount column before missing value handling: 86676.0
Number of loan amount column before missing value handling: 592
Missing Value count in loan amount column before missing value handling: 22
Total nummber of loan amount column after missing value handling should be: 614
handling the missing value with mean method
sum of loan amount column after missing value handling: 89897.06756756757
Number of loan amount column after missing value handling: 614

In [48]:
print("sum of loan amount column before missing value handling:",lpd4['LoanAmount'].sum())
print("Number of loan amount column before missing value handling:",lpd4['LoanAmount'].count())
print("Missing Value count in loan amount column before missing value handling:",lpd4['LoanAmount'].isnull().sum())
print("Total nummber of loan amount column after missing value handling should be:",(592+22))
print("handling the missing value with median method")
lpd4['LoanAmount'].fillna(lpd4['LoanAmount'].median(),inplace=True)
print("sum of loan amount column after missing value handling:",lpd4['LoanAmount'].sum())
print("Number of loan amount column after missing value handling:",lpd4['LoanAmount'].count())

sum of loan amount column before missing value handling: 89492.0
Number of loan amount column before missing value handling: 614
Missing Value count in loan amount column before missing value handling: 0
Total nummber of loan amount column after missing value handling should be: 614
handling the missing value with median method
sum of loan amount column after missing value handling: 89492.0
Number of loan amount column after missing value handling: 614

In [49]:
lpd5.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [51]:
print("Number of Gender column before missing value handling:",lpd5['Gender'].count())
print("Missing Value count in Gender column before missing value handling:",lpd5['Gender'].isnull().sum())
print("Total nummber of Gender column after missing value handling should be:",614)
print("handling the missing value with mode method")
lpd5.fillna(lpd5['Gender'].mode().iloc[0],inplace=True)
print("Number of Gender column after missing value handling:",lpd5['Gender'].count())

Number of Gender column before missing value handling: 614
Missing Value count in Gender column before missing value handling: 0
Total nummber of Gender column after missing value handling should be: 614
handling the missing value with mode method
Number of Gender column after missing value handling: 614