In [1]:
import pandas as pd 
import numpy as np

In [3]:
lpd = pd.read_csv(r"D:\DS WorkFlow\Data Is Good Class Files\Batches\2023-Classes\25th Feb Batch\train_Loan.csv")
lpd.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
lpd.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
lpd1 = lpd.copy()
lpd2 = lpd.copy()
lpd3 = lpd.copy()
lpd4 = lpd.copy()
lpd5 = lpd.copy()
lpd6 = lpd.copy()

In [8]:
lpd5.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [10]:
# The first method - DropNA method , this removes all missing value related records.
lpd1.dropna(inplace=True)

In [11]:
lpd1.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [12]:
lpd2.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [13]:
print(lpd2['LoanAmount'].count())

592

In [14]:
print(lpd2['LoanAmount'].sum())

86676.0

In [15]:
lpd2['LoanAmount'].fillna(0,inplace=True)

In [16]:
print(lpd2['LoanAmount'].count())

614

In [17]:
print(lpd2['LoanAmount'].sum())

86676.0

In [18]:
lpd3['LoanAmount'].isnull().sum()

22

    -   1500
    -   5000
    -   1200
    -   2170
    -   1000

In [19]:
lpd3['LoanAmount'].fillna(lpd3['LoanAmount'].mean(),inplace=True)

In [20]:
lpd3['LoanAmount'].isnull().sum()

0

In [22]:
print(lpd3['LoanAmount'].sum())

89897.06756756757