In [98]:
# Pandas is used for data exploration/manupulation/analysis/modification
import pandas as pd

In [99]:
# Pandas Series
pricelist = [150,250,300,450]
productseries = pd.Series(pricelist,index=['pen','shirt','coffe maker','jeans'])

In [100]:
print(productseries)

pen            150
shirt          250
coffe maker    300
jeans          450
dtype: int64

In [101]:
productdf = pd.DataFrame([[150,230,145,630],
                         [456,852,413,365]],columns=['pen','shirt','coffe maker','jeans'])

In [102]:
productdf

   pen  shirt  coffe maker  jeans
0  150    230          145    630
1  456    852          413    365

In [103]:
print(productdf.shape)

(2, 4)

In [104]:
print(productdf.size)

8

In [105]:
prow = pd.DataFrame([[160,430,149,730],
                     [476,872,453,465]],columns=['pen','shirt','coffe maker','jeans'])

In [106]:
print(prow)

   pen  shirt  coffe maker  jeans
0  160    430          149    730
1  476    872          453    465

In [107]:
productdf = productdf.append(prow)

C:\Users\sengu\AppData\Local\Temp\ipykernel_22432\2142426078.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productdf = productdf.append(prow)

In [108]:
productdf

   pen  shirt  coffe maker  jeans
0  150    230          145    630
1  456    852          413    365
0  160    430          149    730
1  476    872          453    465

In [109]:
productdf = productdf.reset_index()

In [110]:
productdf

   index  pen  shirt  coffe maker  jeans
0      0  150    230          145    630
1      1  456    852          413    365
2      0  160    430          149    730
3      1  476    872          453    465

In [111]:
productdf = productdf.drop(columns='index')

In [112]:
productdf

   pen  shirt  coffe maker  jeans
0  150    230          145    630
1  456    852          413    365
2  160    430          149    730
3  476    872          453    465

In [113]:
productdf

   pen  shirt  coffe maker  jeans
0  150    230          145    630
1  456    852          413    365
2  160    430          149    730
3  476    872          453    465

In [114]:
productdf = productdf.reset_index()

In [115]:
productdf

   index  pen  shirt  coffe maker  jeans
0      0  150    230          145    630
1      1  456    852          413    365
2      2  160    430          149    730
3      3  476    872          453    465

In [119]:
productdf.index = pd.RangeIndex(start=1,stop=5,step=1)
print(productdf)

   index  pen  shirt  coffe maker  jeans
1      0  150    230          145    630
2      1  456    852          413    365
3      2  160    430          149    730
4      3  476    872          453    465