In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder 
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [3]:
data = iris.data 
target = iris.target

In [4]:
iris_df = pd.DataFrame(data,columns=iris.feature_names)

In [5]:
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
iris_df['target'] = target
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [7]:
iris_df['target'].value_counts()

0    50
1    50
2    50
Name: target, dtype: int64

In [8]:
data = {
    'color':['Red','Green','Blue','Red','Green'],
    'size':['small','medium','large','medium','small'],
    'Class':['A','A','B','B','A']
}
df = pd.DataFrame(data)

In [9]:
df.head()

   color    size Class
0    Red   small     A
1  Green  medium     A
2   Blue   large     B
3    Red  medium     B
4  Green   small     A

In [10]:
label_encoder = LabelEncoder()

In [11]:
# for column in df.columns:
#     if df[column].dtype == 'object':
#         df[column+'_encoded'] = label_encoder.fit_transform(df[column])

In [12]:
# df['Class'] = label_encoder.fit_transform(df['Class'])
# df.head()

In [13]:
df.head()

   color    size Class
0    Red   small     A
1  Green  medium     A
2   Blue   large     B
3    Red  medium     B
4  Green   small     A

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
one_hot_encoder = OneHotEncoder()

In [29]:
df_encoded = pd.get_dummies(df,columns=['color','size','Class'])

In [28]:
df_encoded.head()

,color_Blue,color_Green,color_Red,size_large,size_medium,size_small,Class_A,Class_B
0,0,0,1,0,0,1,1,0
1,0,1,0,0,1,0,1,0
2,1,0,0,1,0,0,0,1
3,0,0,1,0,1,0,0,1
4,0,1,0,0,0,1,1,0

In [26]:
n=1
list_1=[]
while n<=8:
    list_1.append(int(input("take a number:")))
    n+=1
list_1

[5, 6, 4, 5, 6, 2, 35, 6]

In [30]:
# Weighted mean (Average)

import pandas as pd

In [34]:
score = pd.DataFrame(data=[['joy','history',1,75],
                           ['joy','math',4,46],
                           ['joy','physics',5,52]],
                           columns=['name','subject','weightage','marks'])

In [35]:
score.head()

  name  subject  weightage  marks
0  joy  history          1     75
1  joy     math          4     46
2  joy  physics          5     52

In [36]:
summation = sum(score['weightage']*score['marks'])
summation

519

In [37]:
w_sum = sum(score['weightage'])
w_sum

10

In [38]:
print(summation/w_sum)

51.9

In [39]:
print(score['marks'].mean())

57.666666666666664