In [134]:
import numpy as np 
import pandas as pd

In [135]:
#pandas series
#pandas dataframe

In [136]:
"""""
pen 100
shirt 200
book 300
mouse 400
"""

'""\npen 100\nshirt 200\nbook 300\nmouse 400\n'

In [137]:
pricelist = [100,200,300,400]
productseries = pd.Series(pricelist,index=['pen','shirt','book','mouse'])

In [138]:
print(productseries)

pen      100
shirt    200
book     300
mouse    400
dtype: int64

In [139]:
productdf = pd.DataFrame([[100,200,300,400],[450,220,350,410]],columns=['pen','shirt','book','mouse'])

In [140]:
productdf

   pen  shirt  book  mouse
0  100    200   300    400
1  450    220   350    410

In [141]:
#size 
productdf.size

8

In [142]:
#shape
productdf.shape

(2, 4)

In [143]:
productrows = pd.DataFrame([[150,290,310,440],[850,920,150,480]],columns=['pen','shirt','book','mouse'])

In [144]:
productrows

   pen  shirt  book  mouse
0  150    290   310    440
1  850    920   150    480

In [145]:
#append 
productdf = productdf.append(productrows)

C:\Users\sengu\AppData\Local\Temp\ipykernel_12976\1760151354.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productdf = productdf.append(productrows)

In [146]:
productdf

   pen  shirt  book  mouse
0  100    200   300    400
1  450    220   350    410
0  150    290   310    440
1  850    920   150    480

In [147]:
#reset index
productdf.reset_index(inplace=True)

In [148]:
productdf

   index  pen  shirt  book  mouse
0      0  100    200   300    400
1      1  450    220   350    410
2      0  150    290   310    440
3      1  850    920   150    480

In [149]:
productdf['pencil'] = [560,780,150,630]

In [150]:
productdf

   index  pen  shirt  book  mouse  pencil
0      0  100    200   300    400     560
1      1  450    220   350    410     780
2      0  150    290   310    440     150
3      1  850    920   150    480     630

In [151]:
productdf.shape

(4, 6)

In [152]:
productdf.size

24

In [153]:
productdf = productdf.drop(columns='index')

In [154]:
productdf

   pen  shirt  book  mouse  pencil
0  100    200   300    400     560
1  450    220   350    410     780
2  150    290   310    440     150
3  850    920   150    480     630

In [155]:
productdf = productdf.drop(index=[0])

In [156]:
productdf

   pen  shirt  book  mouse  pencil
1  450    220   350    410     780
2  150    290   310    440     150
3  850    920   150    480     630

In [157]:
productdf = productdf.drop(index=[2])
productdf

   pen  shirt  book  mouse  pencil
1  450    220   350    410     780
3  850    920   150    480     630

In [158]:
productdf.reset_index(inplace=True)

In [159]:
productdf

   index  pen  shirt  book  mouse  pencil
0      1  450    220   350    410     780
1      3  850    920   150    480     630

In [160]:
productdf1 = pd.DataFrame([[100,200,300,400],[450,220,350,410]],columns=['pen','shirt','book','mouse'])
productrows = pd.DataFrame([[150,290,310,440],[850,920,150,480]],columns=['pen','shirt','book','mouse'])
productdf1 = productdf1.append(productrows)

C:\Users\sengu\AppData\Local\Temp\ipykernel_12976\836202204.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  productdf1 = productdf1.append(productrows)

In [161]:
productdf1

   pen  shirt  book  mouse
0  100    200   300    400
1  450    220   350    410
0  150    290   310    440
1  850    920   150    480

In [164]:
productdf1.reset_index(inplace=True)

In [166]:
productdf1.index = pd.RangeIndex(start=1,stop=5,step=1)

In [167]:
productdf1

   index  pen  shirt  book  mouse
1      0  100    200   300    400
2      1  450    220   350    410
3      0  150    290   310    440
4      1  850    920   150    480

In [168]:
productdf1 = productdf1.drop(columns='index')

In [169]:
productdf1

   pen  shirt  book  mouse
1  100    200   300    400
2  450    220   350    410
3  150    290   310    440
4  850    920   150    480

In [170]:
df = pd.read_csv(r'D:\DS WorkFlow\Data Is Good Class Files\Batches\2023-Classes\16th July Batch\diabetes.csv')

In [173]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [174]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [175]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [177]:
print(df[['Glucose']].describe())

          Glucose
count  768.000000
mean   120.894531
std     31.972618
min      0.000000
25%     99.000000
50%    117.000000
75%    140.250000
max    199.000000