In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('matches.csv')
data.shape

(756, 18)

In [4]:
data.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

### Compare Virat Kohli and MS Dhoni

In [5]:
x = data[(data['player_of_match'] == 'V Kohli') | (data['player_of_match'] == 'MS Dhoni')]

print(x['player_of_match'].value_counts())
x[['player_of_match','win_by_runs','win_by_wickets']].groupby(['player_of_match']).agg('sum')

MS Dhoni    17
V Kohli     12
Name: player_of_match, dtype: int64

                 win_by_runs  win_by_wickets
player_of_match
MS Dhoni                 360              42
V Kohli                  142              44

### Find out Toughest IPL Matches

In [6]:
# Here we have to find out the Matches where both the teams gave neck to neck competition to each other

data[(data['win_by_runs'] == 1) | (data['win_by_wickets'] == 1)][['team1','team2','winner']].reset_index(drop = True)

,team1,team2,winner
0,Mumbai Indians,Rising Pune Supergiant,Mumbai Indians
1,Kings XI Punjab,Mumbai Indians,Kings XI Punjab
2,Kings XI Punjab,Deccan Chargers,Kings XI Punjab
3,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils
4,Mumbai Indians,Pune Warriors,Mumbai Indians
5,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings
6,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders
7,Gujarat Lions,Delhi Daredevils,Gujarat Lions
8,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore
9,Mumbai Indians,Chennai Super Kings,Chennai Super Kings
10,Mumbai Indians,Sunrisers Hyderabad,Sunrisers Hyderabad
11,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore
12,Mumbai Indians,Chennai Super Kings,Mumbai Indians

### Find out the Matches where Dhoni was Player of the Match but the Team Lost

In [7]:
data[(data['player_of_match'] == 'MS Dhoni') & 
     (data['winner'] != 'Chennai Super Kings')][['team1','team2','winner']].reset_index(drop = True)

                 team1                    team2                   winner
0  Sunrisers Hyderabad   Rising Pune Supergiant   Rising Pune Supergiant
1      Kings XI Punjab  Rising Pune Supergiants  Rising Pune Supergiants